//colors
$color_celeste_approx: #ccc;
$color_gallery_approx: #eee;
$white: white;
$color_mountain_mist_approx: #999;

.picture-container {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid $color_celeste_approx;
  text-align: center;
  margin: 5px;
  > .image {
    background: $color_gallery_approx;
  }
}

.popup-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: $white;
  border-bottom: 1px solid $color_celeste_approx;
  padding: 5px;
  z-index: 2;
  #category-filter {
    position: absolute;
    top: 5px;
    right: 15px;
    margin: 0;
    label {
      display: inline;
      line-height: 30px;
    }
    select {
      margin-bottom: 0;
      width: 200px;
      display: inline-block;
      margin-left: 10px;
    }
  }
  form {
    margin: 0;
  }
  .form-group {
    margin: 0;
  }
}

.popup-content {
  padding: 20px;
  padding-top: 65px;
  .picture-container {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100px;
    height: 100px;
    margin: 15px;
    position: relative;
    outline: 1px solid $color_mountain_mist_approx;
    text-align: left;
    > {
      .dimensions {
        position: absolute;
        bottom: 2px;
        right: 2px;
        font-size: 10px;
        height: 13px;
        width: auto;
        background: $white;
        padding-left: 2px;
        padding-right: 2px;
        line-height: 13px;
        border: 1px solid $color_celeste_approx;
        background: $color_gallery_approx;
      }
      .delete {
        position: absolute;
        top: 2px;
        right: 2px;
      }
      .edit {
        position: absolute;
        top: 2px;
        right: 34px;
        height: 30px;
        display: block;
      }
    }
  }
}