.text-normalcase {
  text-transform: none; }

.picture-beautified .display-picture-container {
  position: relative; }
.picture-beautified .btn.change-picture {
  top: 5px;
  position: absolute;
  right: -70px; }
.picture-beautified .btn.remove-picture {
  position: absolute;
  top: 40px;
  right: -70px; }

.note-editor .btn-sm {
  min-height: 30px; }
.note-editor .btn-xs {
  min-height: 30px; }
.note-editor .note-editable {
  height: 253px !important; }

div.input.file {
  border: none; }

.input.form-group.radio {
  padding-left: 20px; }
.input.form-group.checkbox {
  padding-left: 20px; }

.modal-backdrop.in {
  display: none; }

/*# sourceMappingURL=public.css.map */
