//Temporal
.needs-review {
	color: crimson !important;
	border: 1px solid crimson !important;
	div {
		span,
		a {
			color: crimson !important;
			border-color: crimson !important;
		}
		.icon {
			color: crimson;
		}
	}
}
// Fin temporal



.design-option {
	display: block;
	border: 1px solid $line-color;
	border-radius: 2px;
	text-align: center;
	padding: $gutter 0 $gutter/2 0;

	.icon {
		width: 85px;
		height: 120px;
		color: $medium-gray;
	}

	p {
		font-size: rem-calc(12);
		font-weight: 500;
		color: $secondary-color;
	}

	&.selected {
		border: 2px solid $secondary-color;
	}
}


.advertising-resume {
	span {
		font-size: rem-calc(15);
	}

	p {
		font-size: rem-calc(17);
	}
}

.is-optional {
	position: relative;
}

.optional {
	position: absolute;
	top: 2px;
	right: $gutter/1.7;
	font-size: rem-calc(14);
	color: $dark-gray;
}


.select-picture {
	.panel-photo {
		.panel-header {
			padding: $gutter/2;

			h3 {
				margin-top: 0;
				margin-bottom: 0;
				font-size: rem-calc(12);
				font-weight: 500;
				color: $secondary-color;
			}
		}

		&.selected {
			border: 2px solid $secondary-color !important;
		}
	}
}