//botón por defecto seleccionado: modo listado
.results-change-view-btn[data-view="list-results"] {
	cursor: default;

	&:hover {
		background-color: $secondary-color;
	}
}

[data-view="list-results"] {
	.results-change-view-btn[data-view="list-results"] {
		
	}

	.results-change-view-btn[data-view="gallery-results"],
	.results-change-view-btn[data-view="map-results"] {
		background-color: transparent;
		border-color: map-get($foundation-palette, neutral);
		color: map-get($foundation-palette, neutral);
		cursor: pointer;

		&:hover {
			border-color: #353535;
			color: #353535;
		}
	}

	// .asset-index-item {
	// 	>.row {
	// 		background-color: $light-gray;
	// 	}
	// }
}

[data-view="gallery-results"] {
	.results-change-view-btn[data-view="gallery-results"] {
		background-color: $secondary-color;
		border-color: $secondary-color;
		color: white !important;
		cursor: default;
	}

	.results-change-view-btn[data-view="list-results"],
	.results-change-view-btn[data-view="map-results"] {
		background-color: transparent;
		border-color: map-get($foundation-palette, neutral);
		color: map-get($foundation-palette, neutral);
		cursor: pointer;

		&:hover {
			border-color: #353535;
			color: #353535;
		}
	}
	
	#asset-index-list {
		.asset-index-item {
			@extend .medium-6;

			>.row {
				background-color: $light-gray;
			}

			.asset-data-listed {
				min-height: 320px;
			}

			.asset-discount {
				margin-left: 0;
				display: block;
			}
		}
	}
	
	.asset-index-item {
		@extend .medium-6;

		.asset-image-listed-wrapper {
			@extend .medium-12;
		}

		.asset-data-listed-wrapper {
			@extend .medium-12;
		}
	}
}

[data-view="map-results"] {
	.results-change-view-btn[data-view="map-results"] {
		background-color: $secondary-color;
		border-color: $secondary-color;
		color: white !important;
		cursor: default;
	}

	.results-change-view-btn[data-view="list-results"],
	.results-change-view-btn[data-view="gallery-results"] {
		background-color: transparent;
		border-color: map-get($foundation-palette, neutral);
		color: map-get($foundation-palette, neutral);
		cursor: pointer;

		&:hover {
			border-color: #353535;
			color: #353535;
		}
	}

	#map-results {
		display: block;

		@include breakpoint(small only) {
			display: none;
		}
	}

	#asset-index-list {
		display: none;

		@include breakpoint(small only) {
			display: block;
		}
	}
}

//estilizado temporal del mapa
#map-results {
	height: 500px;
	background-color: $light-gray;
	padding-top: 220px;
	margin-bottom: $gutter;
	display: none;

	h1 {
		color: $dark-gray;
		text-align: center;
	}
}

.order-results {
	@include breakpoint(medium) {
		position: relative;

		.floater {
			position: absolute;
			top: 8px;
			right: 100%;
			white-space: nowrap;
		}
	}
}