$asset-index-item-height: 260px;
$asset-index-item-height-medium: 265px;
$asset-index-item-height-xlarge: 255px;

.asset-index-item{
	margin-bottom: $gutter;
	// background-color: $lighter-gray;
	position: relative;

	&.on-my-portfolio {
		background-color: mix($primary-color, white, 7%);
	}

	>.row {
		background-color: $light-gray;
	}
}

.asset-image-listed-wrapper {
	background-color: mix($light-gray, $dark-gray, 80%);
	background-image: url('../img/publication-details/placeholder.jpg');
	background-size: cover;
	background-position: center;
	
}

.asset-index-item-result-image {
	
	height: $asset-index-item-height;
	@include breakpoint(small only) {
		height: 230px;
	}
	@include breakpoint(medium only) {
		height: $asset-index-item-height-medium;
	}
	
	@include breakpoint(xlarge) {
		height: $asset-index-item-height-xlarge;
	}

	position: relative;
	outline: none;
	overflow: hidden;
	z-index: 1;

	.asset-index-item-slider-image {
		height: $asset-index-item-height;
		@include breakpoint(small only) {
			height: 230px;
		}
		@include breakpoint(medium only) {
			height: $asset-index-item-height-medium;
		}
		
		@include breakpoint(xlarge) {
			height: $asset-index-item-height-xlarge;
		}

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.asset-index-item-reference {
		display: inline-block;
		position: absolute;
		top: 5px;
		left: 5px;
		padding: 5px 10px 2px 10px;
		background-color: mix(black, white, 91%);
		border-radius: $global-radius;
		color: mix(white, black, 91%);
		font-weight: 700;
		font-size: rem-calc(12);
	}

	.asset-index-item-images-pagination {
		display: block;
		height: 35px;
		width: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		color: $white;
		z-index: 2;
		padding: 10px;
		text-align: right;
		@include clearfix;
		pointer-events: none;

		&:before {
			content: "";
			display: block;
			height: 35px;
			position: absolute;
			right: 0;
			bottom: 0px;
			left: 0;
			z-index: -1;
			border-bottom-left-radius: $global-radius;
		}

		.icon-video {
			display: none;
			float: left;
			width: 20px;
			height: 14px;
			position: relative;
			bottom: -5px;
		}

		.icon-camera {
			display: inline-block;
			width: 20px;
			height: 15px;
			position: relative;
			bottom: -2px;

			svg {
				// overflow: hidden;
			}
		}

		.asset-index-item-images-pagination-numbers {
			white-space: nowrap;
			text-shadow: 1px 1px 1px transparentize($black, .4);
			font-size: rem-calc(13);
			line-height: 1.2;
			min-width: 40px;
			display: inline-block;

			span {
				display: inline-block;
				margin-left: 3px;
				margin-right: 3px;
			}
		}
	}
}

.asset-data-listed-wrapper {
	z-index: 0;
	background-color: $light-gray;
}

.asset-data-listed {

	@include breakpoint(medium only) {
		height: $asset-index-item-height-medium;
	}
	
	@include breakpoint(large) {
		height: $asset-index-item-height;
	}

	@include breakpoint(xlarge) {
		height: $asset-index-item-height-xlarge;
	}

	padding: $gutter;

	.custom-dropdown {
		z-index: 9;
	}

	.list-item-actions {
		z-index: 9;
		position: absolute;
		top: -$gutter/2;
		right: -$gutter/2;
		
	}

	.button.has-icon[data-selector-asset] {
		display: none;

		@include breakpoint(small only) {
			width: 100%;
		}

		@include breakpoint(medium) {
			position: absolute;
			right: $gutter;
			bottom: $gutter;
		}
	}
}



.asset-data-address {
	h1 {
		margin: 0;
		font-size: rem-calc(17);
		line-height: 1.3;
		font-weight: 400;
	}
}

.asset-data-features {
	margin-top: 5px;
	margin-bottom: 5px;
	.label {
		position: relative;
		top: -1px;

		+ .asset-data-feature {
			padding-left: 8px;
			margin-left: 4px;

			&:before {
				content: "";
				height: 13px;
				width: 1px;
				background-color: rgba($dark-gray, .5);
				position: absolute;
				left: 0;
				top: 4px;
			}
		}
	}
}

.asset-data-feature {
	position: relative;
	display: inline-block;
	font-size: rem-calc(16);
	font-weight: 500;

	+ .asset-data-feature {
		padding-left: 8px;
		margin-left: 4px;

		&:before {
			content: "";
			height: 13px;
			width: 1px;
			background-color: rgba($dark-gray, .5);
			position: absolute;
			left: 0;
			top: 3px;
		}
	}
}

.asset-status {
	font-size: rem-calc(13);
	color: $white;
	padding: 5px 6px 2px;
	border-radius: $global-radius;	
	margin-right: 6px;
	white-space: nowrap;
	background-color: $dark-gray;
}

@each $status, $color in $asset-status {
	&.asset-status-#{$status} {
   		background-color: #{$color};
  	}
}

.asset-data-price {
	font-size: rem-calc(22);
	font-weight: 700;
	color: $secondary-color;

	@include breakpoint(medium down) {
		margin-top: 10px;
	}

	.asset-discount {
		font-size: rem-calc(14);
		margin-left: $gutter/3;
		position: relative;
		top: -2px;
		white-space: nowrap;
		
		.icon {
			width: 12px;
			color: $primary-color;
			position: relative;
			top: 13px;
		}
	}
}

.asset-data-rent-price {
	font-size: rem-calc(22);
	font-weight: 700;
	color: $secondary-color;
	opacity: .6;
}

.asset-data-event-data {
	font-size: rem-calc(14);
	font-weight: 500;
	color: $secondary-color;

	.asset-data-event-price {
		display: inline-block;
		margin-right: 10px;
		// text-decoration: line-through;
		position: relative;

		&:before {
			content: "";
			border-bottom: 1px solid $secondary-color;
			position: absolute;
			right: 0;
			left: 0;
			top: 8px;
		}
	}

	.event-end-date {
		font-size: rem-calc(14);
		font-weight: 500;
		color: $secondary-color;
		white-space: nowrap;
	}
}

.asset-data-owner {
	width: 70px;
	height: 32px;
	position: relative;

	@include breakpoint(small only) {
		float: right;
		margin-bottom: 10px;
	}

	@include breakpoint(medium) {
		position: absolute;
		bottom: 20px;
		right: 30px;
	}
	
	span {
		text-transform: uppercase;
		font-size: rem-calc(11);
		font-weight: 700;
		color: $owner-color;
		line-height: 1;
		margin-top: 18px;
		position: absolute;
		right: 0;
		bottom: 0;
		text-align: right;
		display: none;
	}

	&.bankia {
		background-image: url('../img/origins/owner-bankia.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom right;
	}

	&.sareb {
		background-image: url('../img/origins/owner-sareb.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom right;
	}

	&.cajamar {
		background-image: url('../img/origins/owner-cajamar.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom right;
	}

	&.titulizados {
		.titulizados-label {
			display: inline-block;
		}
	}
	&.promotor-externo {
		.promotor-externo-label {
			display: inline-block;
		}
	}
	&.particulares {
		.particulares-label {
			display: inline-block;
		}
	}
}

.new-construction-index-item {
	margin-bottom: $gutter;

	
	>.row {
		background-color: $secondary-color;
	}
	

	.asset-index-item-slider-image {
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba($secondary-color, .5);
			z-index: 1;
		}
	}

	.asset-image-listed-wrapper {
		background-color: rgba($secondary-color,.6);


		.new-construction-index-item-result-image {
			height: $asset-index-item-height;
			
			@include breakpoint(small only) {
				height: 230px;
			}
			@include breakpoint(medium only) {
				height: $asset-index-item-height-medium;
			}
			
			@include breakpoint(xlarge) {
				height: $asset-index-item-height-xlarge;
			}
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	.asset-data-listed-wrapper {
		z-index: 0;
		background-color: $secondary-color;
	}

	.asset-data-address {
		span {
			color: white;
			text-transform: uppercase;
			font-size: rem-calc(14);
			font-weight: 500;
			display: block;
			opacity: .6;
		}
		a {
			color: white;
			transition: all .3s ease-in-out;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.asset-data-feature,
	.asset-data-price,
	.asset-data-rent-price {
		color: white;
	}

	.asset-data-feature,
	.asset-data-rent-price {
		opacity: .6;
	}
	.asset-index-item-reference {
		z-index: 1;
		background-color: mix($secondary-color, black);
	}

	// .asset-data-owner {
		
	// 	span {
	// 		color: $owner-color;
	// 	}
	// }
}

.asset-data-actions {
	margin-top: $gutter/2;
	text-align: right;

	@include breakpoint(medium) {
		position: absolute;
		right: $gutter/2;
		bottom: $gutter/2;
	}
	
	
	.button {
		margin-bottom: 0;
		position: relative;
		z-index: 2;
	}
}



//selector múltiple provincias
.panel.asset-index-filters {

	.multiple-selection {

		.select2-selection.select2-selection--multiple {
			min-height: 40px;
		}

		.select2-selection__rendered {

			.select2-selection__choice {
				margin-top: 7px;
			}
			
			.select2-search.select2-search--inline {
				display: none;
			}
		}
	}
}


.pagination-hidden-page {
	display: none !important;
}

.is-modal {
	.button.has-icon[data-selector-asset] {
		display: block;
	}
	.asset-data-owner {
		bottom: 5px;

		@include breakpoint(medium) {
			bottom: 86px;
			right: 20px;
		}
		
	}
}