body.assets-view {
	@include breakpoint(small only) {
		.columns h1 {
			line-height: 1.2;
			margin-bottom: $gutter;

			.header-text {
				font-size: rem-calc(18);
				line-height: 1.3;
			}
		}
	}
}

.price-details {
	margin-bottom: $gutter;
}

.asset-price {
	display: inline-block;
	vertical-align: middle;
	margin-right: $gutter;

	strong {
		font-size: rem-calc(32);
		font-weight: 700;
		color: $secondary-color;
		margin-right: $gutter/2;
	}

	.asset-discount {
		background-color: $primary-color;
		font-size: rem-calc(14);
		font-weight: 700;
		color: $white;
		padding: $gutter/4 $gutter/4 $gutter/10 $gutter/4;
		border-radius: 2px;
		position: relative;
		bottom: 6px;

		.icon {
			width: 12px;
			height: 12px;
			position: relative;
			top: 2px;
		}
	}
}

.about-price {
	display: inline-block;
	vertical-align: middle;
	margin-right: $gutter;
	font-size: rem-calc(13);
	font-weight: 500;
	color: $primary-color;

	.old-price {
		margin-right: $gutter;

		span {
			position: relative;

			&:before {
				content: "";
				border-bottom: 1px solid $primary-color;
				position: absolute;
				right: 0;
				left: 0;
				top: 5px;
			}
		}
	}
}


.date-end-discount {
	display: inline-block;
	vertical-align: middle;
	font-size: rem-calc(14);
	font-weight: 500;
	color: $secondary-color;
}

.asset-summary {
	color: $secondary-color;
	font-size: rem-calc(13);
	font-weight: 500;

	span {
		margin-right: 12px;

		.icon {
			position: relative;
			bottom: -3px;
			margin-right: 2px;
		}
	}
}

.featured-data {
	
	color: $secondary-color;

	@include breakpoint(large) {
		text-align: right;
		padding-top: $gutter*2;
	}

	span {
		font-size: rem-calc(14);
		font-weight: 500;

		@include breakpoint(large) {
			display: block;
		}
		

		&.asset-reference  {
			display: inline-block;
			font-size: rem-calc(19);
			background-color: $light-gray;
			padding: $gutter/4 $gutter/2 $gutter/10 $gutter/2;
			border-radius: 2px;
			margin-top: $gutter/4;
		}
	}
}


.mark-unmark {
	font-size: rem-calc(12);
	font-weight: 500;
	
	a {
		color: $secondary-color;
		padding-right: $gutter/2;
		border-right: 1px solid $secondary-color;
	}

	a+a {
		padding-right: 0;
		padding-left: $gutter/2;
		border-right: none;
	}
}

.interesting-places-lists {

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		
		@include breakpoint(small only) {
			margin-bottom: $gutter;
		}

		label {
			font-size: rem-calc(12);
			font-weight: 500;
			margin-right: 0;
		}
	}
	 .icon {
	 	vertical-align: middle;
	 	position: relative;
	 	bottom: 2px;
	 }
}

.advertising-campaign {
	position: relative;

	.advertising-campaign-image {
		display: block;
		height: 180px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.advertising-bullet {
		background-color: $alert-color;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		text-align: center;
		color: $white;
		position: absolute;
		top: -40px;
		right: 3px;
		border: 4px solid $white;

		span {
			font-size: rem-calc(11);
			font-weight: 700;
			display: inline-block;
			margin-top: 10px;
		}

		strong {
			font-size: rem-calc(16);
			font-weight: 700;
			position: relative;
			bottom: 7px;
		}
	}

	.advertising-text {
		background-color: $light-gray;
		padding: $gutter $gutter;

		h3 {
			line-height: 1.1;
		}

		p {
			font-size: rem-calc(14);
			font-weight: 500;
			color: $secondary-color;
		}
	}
}

.assets-view-status {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    letter-spacing: .03rem;
}

.search-map {
	height: 300px;
	margin-bottom: $gutter;

	@include breakpoint(medium) {
		height: 500px;
	}
	@include breakpoint(large) {
		height: 500px;
		margin-bottom: 0;
	}
	@include breakpoint(xxlarge) {
		height: 500px;
	}
}

table.expandable {
	tr {
		&.compressed {
			display: none;
		}
		&.expanded {
			display: table-row;
		}

		&.compressor {
			cursor: pointer;

			&:hover {
				background-color: $highlight-color;
			}

			&.active {
				background-color: mix($lighter-gray, $white, 83%);

				&:hover {
					background-color: $highlight-color;
				}
			}
		}
	}

	td {
		small {
			display: block;
			color: $dark-gray;
		}

		strong {
			color: $secondary-color;
		}

		a {
			white-space: nowrap;
		}
	}
}

.assets-view-images-pagination {
	display: block;
	height: 35px;
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	color: $white;
	z-index: 2;
	padding: 10px;
	text-align: right;
	@include clearfix;
	pointer-events: none;

	&:before {
		content: "";
		display: block;
		height: 35px;
		position: absolute;
		right: 0;
		bottom: 0px;
		left: 0;
		z-index: -1;
		border-bottom-left-radius: $global-radius;
	}

	.assets-view-icon-video {
		display: inline-block;
		float: left;
		width: 20px;
		height: 14px;
		position: relative;
		bottom: -2px;
	}

	.assets-view-icon-camera {
		display: inline-block;
		width: 20px;
		height: 14px;
		position: relative;
		bottom: -2px;

		svg {
			overflow: hidden;
		}
	}

	.assets-view-images-pagination-numbers {
		white-space: nowrap;
		text-shadow: 1px 1px 1px transparentize($black, .4);
		font-size: rem-calc(13);
		line-height: 1.2;
		min-width: 40px;
		display: inline-block;

		span {
			display: inline-block;
			margin-left: 3px;
			margin-right: 3px;
		}
	}
}

.result-name {
	font-size: rem-calc(18);
	line-height: 1.2;
	margin-bottom: $gutter;
	@include breakpoint(medium) {
		font-size: rem-calc(22);
	}
}