span[data-avatar-initials] {
  display: block;
  position: relative;
  left: 0;
  width: 34px;
  height: 34px;
  background-color: #EFEFEF;
  border-radius: 50%;
  z-index: 0;

  &:after {
    font-size: rem-calc(13);
    line-height: 2.8;
    content: attr(data-avatar-initials);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    font-weight: 700;
  }

  img {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 3;
  }

  .avatar-large & {
    position: relative;
    border: solid 4px $white;
    box-shadow: 0 0 0 1px #e7e7e7;
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: box-shadow 200ms ease-out;
    margin-bottom: 0;
    overflow: hidden;
    width: 100px;
    height: 100px;
    z-index: 0;

    &:after {
      content: attr(data-avatar-initials);;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      bottom: -2px;
      z-index: -1;
      font-size: rem-calc(30);
      line-height: 3.3;
      color: $white;
      z-index: 1;
    }

    img {
      width: 100px;
      height: 100px;
      position: relative;
      z-index: 3;
    }
  }

  .avatar-medium & {
    position: relative;
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    margin-bottom: 0;
    overflow: hidden;
    width: 32px;
    height: 32px;
    z-index: 0;

    &:after {
      content: attr(data-avatar-initials);
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: rem-calc(13);
      line-height: 2.8;
      color: $white;
      z-index: 1;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.assets-view {
  .card-extended {
    [data-avatar-initials] {
      position: absolute;
    }
  }
}
