@mixin custom-button {
  .button {
 
    // Dropdown arrow
    &.custom-dropdown {

    	&.double-icon {
    		padding-left: 45px;
    		span:first-child {
    			.icon {
    				position: absolute;
    				top: $gutter/3;
    				left: $gutter/2;
    			}
    		}
    	}
      
		&::after {
			content: "";
			display: inline-block;
			width: $gutter*0.85;
		}

		position: relative;

		.dots-button {
			@include burger(4px, 4px, 4px, #ffffff, 3px, .18s);
			position: absolute;
			right: $gutter/1.2;
			bottom: $gutter/2.5;
		}

		&.hover {
			// border-bottom-left-radius: 0;
			// border-bottom-right-radius: 0;
			// border-bottom-color: transparent;

			.dots-button {
				@include burger-to-cross(auto, 12px, 2px);
				bottom: $gutter/2.6;
				right: 21px;
				&::after,
				&::before {
					transform-origin: 50%;
				}
			}
		}

      @if $button-fill == hollow {
        &::after {
          border-top-color: $button-background;
        }
      }
    }

    // Button with dropdown arrow only
    &.dots-only {
		padding-right: $gutter*1.05;
		padding-left: $gutter*0.85;

    	&:after {
	    	content: "";
	      	float: none;
			width: 0;
		}
    }

    &.transparent {
    	.dots-button {
			background-color: $secondary-color;
			&::after,
			&::before {
				background-color: $secondary-color;
			}
		}
		border-bottom-color: transparent;
		box-shadow: none;

		&:hover,
		&:focus {
			background-color: transparent;
		}
    }
  }
}

@include custom-button;

.button {

	&.has-icon {
		position: relative;
		// padding-left: $gutter*2.5;
		white-space: nowrap;

		.icon {
			position: absolute;
			display: block;
			top: -5px;
    		left: -28px;
			width: 20px;
			height: 20px;

			svg {
				path,
				polygon,
				circle,
				line,
				polyline,
				rect {
					vector-effect: non-scaling-stroke;
					stroke: currentColor;
				}
			}

			&.icon-check-circle {
				top: -4px;
			}
		}

		// &.small {
		// 	padding-left: $gutter*1.75;

		// 	.icon {
		// 		top: 6px;
		// 		left: 8px;
		// 		width: 20px;
		// 		height: 20px;
		// 	}		
		// }

		// &.large {
		// 	padding-left: $gutter*2.5;

		// 	.icon {
		// 		top: 11px;
		// 		left: 16px;
		// 		width: 20px;
		// 		height: 20px;
		// 	}		
		// }

		span {
			position: relative;
			display: inline-block;
			margin-left: 26px;
			min-height: 15px;
		}

		&.button-link {
			background-color: transparent;
			color: $primary-color;
			box-shadow: none;
			border-bottom-color: transparent;
			padding-left: 0;
			padding-right: 0;

			svg {
				path,
				polygon,
				circle,
				line,
				polyline,
				rect {
					vector-effect: non-scaling-stroke;
					stroke-width: 0;
					fill: currentColor;
				}
			}

			&:hover {
				color: darken($primary-color, 10%);
			}

			// &.icon-only {
			// 	padding-left: 0;
			// 	padding-right: 0;
			// }
		}

	}
}