.img-wrapper,
.help-wrapper {
	position: relative;
	border: 1px solid $line-color;

	&.img-wrapper-social-network {
		max-width: 470px;
	}

	&.img-wrapper-group-module {
		max-width: 320px;
	}

	&.img-wrapper-event-module {
		max-width: 350px;
	}

	&.img-wrapper-city {
		max-width: 367px;
	}

	.help-wrapper-text {
		padding-top: 20px;

		
	}
}

.help-wrapper, .child-fields-row {
	.close-button {
		width: 34px;
		height: 34px;
		background-color: $menu-color;
		color: $white;
		line-height: 1.3;
		border-radius: 17px;
		top: -17px;
		right: -17px;
		transition: all .3s esase-in-out;

		&:hover {
			background-color: $primary-color;
		}
	}
}

.help-wrapper {
	background-color: $white;

	@include breakpoint(small only) {
		padding-top: 30px;
	}
}


.groups-selection {
	.list-item-actions {
		display: none;
	}

	.group-currently-added {
		background-color: rgba($success-color, .1) !important;
	}
}

.publication-status {
	label {
		display: none;
	}

	.select2 {
		margin-bottom: 0;
	}

	.select2-container .select2-selection--single {
		height: 32px;
		.select2-selection__rendered {
			line-height: 32px;
			&::before {
				content: "Estado: ";
				color: gray;
			} 
		}
		.select2-selection__arrow {
			height: 26px;
		}
	}
}
