////
/// @group data
////

html, body {
	height: 100%;
}

.fonts-loaded {
	body {
		font-family: $body-font-family-enhanced;
	}
}

.reorder {
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		bottom: 2px;
		right: -13px;
		@include triangle(9px, mix($white, $dark-gray, 30%), down);
	}

	&:before {
		content: "";
		display: block;
		position: absolute;
		bottom: 8px;
		right: -13px;
		@include triangle(9px, mix($white, $dark-gray, 30%), up);
	}

	&.desc {
		color: $primary-color;
		&:after {
			border-top-color: $secondary-color;
		}
	}

	&.asc {
		color: $primary-color;
		&:before {
			border-bottom-color: $secondary-color;
		}
	}

	&:hover {
		color: $primary-color;
	}
}

dl {
	&.read-only {
		display: block;
		width: 100%;
		margin-bottom: 0;
		font-size: .85rem;

		dt {
			display: inline-block;
			width: 38%;
			background-color: $body-background;
			text-align: center;
			padding: $global-padding/2 $global-padding/4;
			vertical-align: top;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			color: $secondary-color;
			font-weight: 500;

			@include breakpoint(large) {
				width: 19%;

				&:nth-of-type(even) {
					margin-left: 1%;
				}
			}

			&.block {

				@include breakpoint(large) {
					width: 38%;

					&:nth-of-type(even) {
						margin-left: 0;
					}
				}

			}
		}
		dd {
			display: inline-block;
			width: 60%;
			background-color: mix($light-gray, white);
			text-align: center;
			padding: $global-padding/2 $global-padding/4;
			vertical-align: top;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			font-weight: 500;

			@include breakpoint(large) {
				width: 30%;

				&:nth-of-type(odd) {
					margin-right: 1%;
				}
			}

			&.block {

				@include breakpoint(large) {
					width: 62%;

					&:nth-of-type(odd) {
						margin-right: 0;
					}
				}
			}
		}
	}
	@include clearfix;

	&.read-only-one-line {
		display: block;
		width: 100%;
		margin-bottom: 0;

		dt {
			display: inline-block;
			width: 50%;
			background-color: $light-gray;
			text-align: center;
			padding: $global-padding/2 $global-padding/4;
			vertical-align: top;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			@include breakpoint(medium) {
				width: 16%;
			}

			@include breakpoint(large) {
				width: 12%;
			}
		}
		dd {
			display: inline-block;
			width: 50%;
			background-color: mix($light-gray, white);
			text-align: center;
			padding: $global-padding/2 $global-padding/4;
			vertical-align: top;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			@include breakpoint(medium) {
				width: 16%;
				margin-right: 2%;

				&:last-child() {
					margin-right: 0;
				}
			}

			@include breakpoint(large) {
				width: 20%;
				margin-right: 2%;
			}
		}
	}
}

.like-label {
	font-size: $form-label-font-size;
	font-weight: 700;
	color: $form-label-color;
	padding-top: 2px;
	padding-bottom: 1px;
}

.like-header {
	font-size: $form-label-font-size;
	// font-weight: 700;
}

.input-no-label {
	@include breakpoint(medium) {
		margin-top: 25px;
	}
}

.button-no-legend {
	margin-top: 25px;
	&.icon-only {
		@include breakpoint(small only) {
			margin-top: 0;
			float: right;
		}
	}
}

.items-list{
	.item-listed{
		display: block;
		margin-bottom: 5px; // TODO REVISAR
	}
}

#tabs-informe {
	@include breakpoint(xlarge) {
		> ul > li {
			width: 20%;
		}
	}
}

.panel-memoria-calidades {

	.row.collapse > .columns {
		@include breakpoint(large) {
			&.large-6:first-child() {
				padding-right: map-get($grid-column-gutter, small)/2;
			}

			&.large-6 + .large-6 {
				padding-left: map-get($grid-column-gutter, small)/2;
			}
		}
	}
}

.memoria{
	@extend .collapse;

    border-bottom: 1px solid $line-color;
    padding-bottom: .1rem;
    padding-top: 1.2rem;

	&:nth-child(even) {
		background-color: mix($lighter-gray, $white, 60%);
	}

	&:nth-child(odd) {
		background-color: mix($lighter-gray, $white, 30%);
	}

	.legend-wrapper{


		legend {
			line-height: 1.25;
			margin-bottom: 1rem;
		}

		@include grid-column(7);

		@include breakpoint(large) {
			@include grid-column(7);
		}

		padding-left: 1rem !important;

		>label{
			>input{
				// margin-left: 10px;
			}
		}
	}

	.input-wrapper{
		text-align: right;
		white-space: nowrap;

		@extend .position-top-small;

		@include grid-column(5);

		@include breakpoint(large) {
			@include grid-column(5);
		}
		label{
			display: inline-block;
			margin-right: 8px;
			+ label {
				// margin-left: 5px;
			}


			// Styles for inputs inside labels
			> [type='checkbox'],
			> [type='radio'] {
				margin-#{$global-right}: $form-spacing * 0.3;
				cursor: pointer;
			}
		}

		> [type='checkbox'],
		> [type='radio'] {
			cursor: pointer;
		}

		[type='checkbox'] + label,
		[type='radio'] + label {
			padding-left: 0.5rem;
			margin-left: 0;
		}

	}

	&.row {
		&.column, &.columnns {
			padding-left: 1rem !important;
			padding-right: 1rem !important;
		}
	}

}

.memoria-header-group {
    padding-top: 1rem;
	margin-top: 1rem;

	h3{
		font-size: 14px;
		// font-weight: 700;
		border-bottom: 1px solid mix($light-gray, $white, 80%);
	    padding-bottom: 1.3rem;
	    // margin-top: 1.5rem;
	    margin-bottom: 0;
	    // padding-top: 1.2rem;
	}

	label{
		display: inline-block;
		// margin-right: 20px;
		+ label {
			margin-left: 10px;
		}

		// @extend .position-top-medium;
	}

	button{
		@extend .position-top-small;
	}

	.memoria-checkbox{
		label {
			font-weight: 700;
		}

		input{
			margin-left: 20px;
		}
	}
}

h2 + .memoria-header-group {
	margin-top: 1rem;
}



.time-line {
	list-style-type: none;
	margin: 0;

	$line-color-icons: mix($secondary-color, $white, 30%);

	>li {
		position: relative;
		padding-left: 50px;
		padding-bottom: 20px;

		&.time-line-has-sublist {
			> p:first-of-type {
				padding-right: 25px;
			}

			.time-line-show-sublist {
				content: "";
				display: block;
				height: 20px;
				width: 20px;
				background-color: whitesmoke;
				position: absolute;
				right: 0;
				top: 2px;
				cursor: pointer;
				border: 1px solid mix($line-color, $white);
				border-radius: $global-radius;

				&:after {
					content: "";
					display: block;
					@include triangle(10px, whitesmoke, down);
					position: absolute;
					top: 6px;
					left: 4px;
				}
				&:before {
					content: "";
					display: block;
					@include triangle(10px, $primary-color, down);
					position: absolute;
					top: 7px;
					left: 4px;
				}

				&.time-line-sublist-expanded {
					&:after {

						top: 7px;
						left: 4px;
						transform: rotate(180deg);
					}
					&:before {

						top: 6px;
						left: 4px;
						transform: rotate(180deg);
					}
				}
			}
		}


		p {
			margin-bottom: 0;
			font-size: rem-calc(15px);
		}

		small {
			color: $dark-gray;
			font-size: rem-calc(13px);
			// font-style: italic
		}
	}

	li:last-child():after {
		// display: none;
	}

	.time-line-item {
		&:before {
			content: "";
			width: 40px;
			height: 40px;
			border: 1px solid $line-color-icons;
			border-radius: 20px;
			display: block;
			position: absolute;
			top:0;
			left: 0;
			// @include panel-style($panel-background);
			background-color: #fdfdfd;
			// background-image: url(../img/visitas_ICO.svg);
			background-size: 30px;
			background-repeat: no-repeat;
	    	background-position: center;
	    	z-index: 1;
	    	// box-shadow: 0 2px 0 rgba($black, .045);
    	}

    	&:after {
			content:"";
			display: block;
			border-left: 1px solid $line-color;
			height: 100%;
			position: absolute;
			top: 0;
			left: 20px;
		}

    	.icon {
    		display: block;
    		width: 22px;
    		height: 22px;
    		position: absolute;
    		top: 8px;
    		left:  9px;
    		z-index: 2;
    		color: mix($secondary-color, $white, 60%);

    	}

    	.time-line-sublist {
			list-style-type: none;
			margin: 0;
			display: none;
			// max-height: 0;
			overflow: hidden;
			padding-top: 0;
			// opacity: 0;
			transition: all 200ms ease-out;

			&.time-line-sublist-expanded {
				// max-height: 400px;
				display: block;
				padding-top: 18px;
				// opacity: 1;
				overflow: visible;
			}

			li {
				position: relative;
				padding-left: 34px;
				padding-bottom: 10px;

				&:before{
					content: "";
					width: 28px;
					height: 28px;
					border: 1px solid $line-color-icons;
					border-radius: 20px;
					display: block;
					position: absolute;
					top: -2px;
					left: 0;
				 	background-color: #fdfdfd;
					background-size: 30px;
					background-repeat: no-repeat;
			    	background-position: center;
			    	z-index: 2;
			    	// box-shadow: 0 2px 0 rgba($black, .03);
			    }

			    &:after {
					content:"";
					display: block;
					border-top: 1px solid $line-color;
					width: 50px;
					position: absolute;
					top: 11px;
					left: -30px;

				}

				.icon {
		    		display: block;
		    		width: 18px;
		    		height: 18px;
		    		position: absolute;
		    		top: 2px;
		    		left:  5px;
		    		z-index: 2;

		    	}
			}
		}
	}
}

.list-block {

	thead {
		th {
			white-space: nowrap;
		}
	}

	tbody {

		td {
			vertical-align: top;
		}
	}


	.list-block-item-extended {

		dt {
			font-weight: 700;

			@include breakpoint(medium) {
				display: inline-block;
				width: 20%;
			}

			@include breakpoint(large) {
				width: 16%;
			}

		}

		dd {
			@include breakpoint(medium) {
				display: inline-block;
				width: 28%;
			}

			@include breakpoint(large) {
				width: 30%;
			}
		}

		ul {
			list-style-type: none;

			li {
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}

.interesting-area-block {
	h2 {
		font-size: 18px;
	}

	dt,
	dd {
		display: inline-block;
		vertical-align: top;
	}

	dt {
		font-weight: 500;
	}
}



//DETALLE DE ACTIVO DATOS TEMPORALES @PABLO BORRAR

.asset-carrousel {
	height: 400px;
	background-color: #CACACA;
	text-align: center;
}

.advertising{
	height: 100px;
	background-color: #CACACA;
}

.asset-mapa {
	height: 500px;
	background-color: #CACACA;
}

//DETALLE DE ACTIVO 

.prize {
	font-size: 28px;
	font-weight: 500;
}

.discount {
	font-weight: 500;

	i {
		color: #A3A3A3;
	}

	span {
		text-decoration: line-through;
		color: #A3A3A3;
	}
}

.saving {
	color: #A3A3A3;
	font-weight: 500;
}

.wrapper {

	.item-label {
		background-color: #dddddd;
		padding: 5px 10px;
		display: block;
		font-weight: 500;
		font-size: 14px;
	}
	.item-value {
		background-color: #f5f5f5;
		display: block;
		padding: 5px 10px;
		font-size: 15px;
	}
}

// display: none;	//PARA OCULTAR LOS CAMPOS DE UN USUARIO NO ACTIVO
.only-active-client {

}

//BARRA DE PASOS O ESTADO DE PROCESO
.step-by-step {

	>li {
		display: inline-block;
		vertical-align: top;
		width: 33%;
		height: 30px;

		a {
			background-color: $secondary-color;
			color: white;
			display: block;
			text-align: center;
			margin-right: 10px;
			height: 100%;
			line-height: 30px;
			position: relative;
			font-weight: 500;


			&:after {
				content: "";
				width: 0;
				height: 0;
				border-bottom: 15px solid transparent;
				border-left: 20px solid $secondary-color;
				border-top: 15px solid transparent;
				display: block;
				position: absolute;
				top: 0;
				right: -20px;
				z-index: 5;
			}

			&:before {
				content: "";
				width: 0;
				height: 0;
				border-bottom: 15px solid transparent;
				border-left: 20px solid white;
				border-top: 15px solid transparent;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 4;
			}

			&.current-step {
				background-color: $primary-color;

				&:after {
					border-left: 20px solid $primary-color;
				}
			}
		}

		&:first-child() {
			a {
				&:before {
					content: none;
				}
			}
		}
	}
}


//DISEÑO DE FOLLETOS

.imagen-folleto {
	background-color: $warning-color;
	height: 300px;
	text-align: center;

	a {
		display: block;
		height: 100%;
	}
}


.asset-link,
.client-link {
	color: $primary-color;
	transition: color 180ms ease-out;
	font-weight: 500;

	.icon {
		content: "";
		display: inline-block;
		width: 12px;
		height: 12px;
		vertical-align: middle;
		position: relative;
		top: -3px;
		margin-right: 2px;
		z-index: 0;


		svg {
			path {
				fill: currentColor;
			}
			position: absolute;
		}
	}

	&:hover {
		color: $secondary-color;

		.icon {
			svg {
				path {
					fill: currentColor;
				}
			}
		}
	}

}

table.order-by:not(.fixed) {
	thead {
		tr {
			th {
				&[data-sort] {
					cursor: pointer;

					span {
						position: relative;
						display: inline-block;
						padding-right: 10px;

						&:before {
							content: "";
							display: block;
							position: absolute;
							bottom: 4px;
							right: -4px;
							@include triangle(9px, mix($white, $secondary-color, 30%), down);
						}
						&:after {
							content: "";
							display: block;
							position: absolute;
							top: 2px;
							right: -4px;
							@include triangle(9px, mix($white, $secondary-color, 30%), up);
						}
					}

					&.sorting-asc {
						span {
							&:before {

							}
							&:after {
								border-bottom-color: $white;
							}
						}
					}

					&.sorting-desc {
						span {
							&:before {
								border-top-color: $white;
							}
							&:after {
							}
						}
					}
				}
			}
		}
	}
}

.haya-pop-button {
	position: relative;
}

.haya-pop-menu {
	margin: 0;
	padding: 0;
	position: absolute;
	background-color: $white;
	width: 300px;
	height: 200px;
	z-index: 1;
	display: none;
	transition: all 100ms ease-out;
	transform: scale(0) translate3d(0,-30px,0);
	opacity: 0;
	transform-origin: center top;
	border-radius: 0;
	top: 28px;
	box-shadow: 1px 2px 2px transparentize($black, 0.8);
	border: 1px solid mix($line-color, $white, 80%);

	&.haya-show-pop-menu {
		display: block;
		transform: scale(1) translate3d(0,0,0);
		opacity: 1;
		border-radius: 3px;
	}

    &:before {
    	content: "";
		display: block;
		position: absolute;
		color: $white;
		left: 150px - 10px;
		@include triangle(20px, $white, up);
		font-size: 1.4em;
		pointer-events: none;
		// text-shadow: 0 -2px 4px transparentize($black, 0.7);
		top: -10px;
    }

    &:after {
    	content: "";
		display: block;
		position: absolute;
		color: $white;
		left: 150px - 10px;
		@include triangle(20px, mix($line-color, $white, 80%), up);
		font-size: 1.4em;
		pointer-events: none;
		// text-shadow: 0 -2px 2px transparentize($secondary-color, 0.7);
		top: -11px;
		z-index: -1;
    }
}

h1 {
	.icon {
		display: block;
		width: 34px;
		height: 34px;
		margin-right: 10px;
		float: left;
		opacity: .4;
		bottom: 2px;
		z-index: 0;
	}

	.header-text {
		position: relative;
		font-size: rem-calc(26);
		// bottom: -3px;
	}
}

.input-group-label {

  padding-left: 8px;
  padding-right: 8px;

  .icon {
    display: block;
    color: $dark-gray;
  }
}

.data-inline {

	.row-inline {
		@include clearfix;
		padding-top: $gutter/2;
		padding-bottom: $gutter/1.75;
		border-top: 1px solid mix($line-color, $white, 100%);
		position: relative;

		.label-inline {
			float: left;
			color: mix($secondary-color, $white, 60%);
			position: relative;
			max-width: 15%;

			.icon {
				height: 24px;
			}
			bottom: -2px;
		}
		.value-inline {
			float: right;
			text-align: right;
			position: relative;
			bottom: -2px;
			max-width: 85%;

			&.truncate {
				color: $primary-color;
			}

			+ .value-inline {
				clear: right;
			}
		}

		&.row-additional {
			padding-top: 0;
			padding-bottom: $gutter/4;
			border-top: none;
			position: relative;
		}
	}
}

.avatar {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 60px;
	box-shadow: 0 4px 0 rgba(10, 10, 10, 0.045);
	margin-bottom: 1rem;

	.avatar-status {
		position: absolute;
		top: 5px;
		left: 5px;
		display: block;
		width: 20px;
		height: 20px;
		background-color: $medium-gray;
		border-radius: 10px;
		border: 2px solid $white;
		// box-shadow: 0 0 0 1px $line-color;

		&.client-status-lead {
			background-color: $medium-gray;
		}

		&.avatar-status-active {
			background-color: $success-color;
		}

		&.avatar-status-inactive {
			background-color: $error-color;
		}
	}
}


.drag-and-drop-active {
  border: 2px solid $primary-color;
  border-radius: 2px;
  opacity: 0.7;
}

.client-status {

	&.client-status-block {
		display: block;
	}

	font-weight: 500;
	position: relative;
	color: $black;

	&:before {
		content: "";
		display: inline-block;
		width: 9px;
		height: 9px;
		background-color: $medium-gray;
		border-radius: 6px;
		margin-right: 3px;
	}

	&.client-status-discarded {
		&:before {
			background-color: $error-color;
		}
	}

	&.client-status-active {
		&:before {
			background-color: $success-color;
		}
	}

	&.client-status-inactive {
		&:before {
			background-color: $error-color;
		}
	}
}

.light-text {
	color: $dark-gray;
}

.breadcrumbs-wrapper {

	padding: $global-padding/1.27 $global-padding $global-padding/1.25;
	background-color: $light-gray;
	border-bottom: 1px solid mix($light-gray, $black, 97%);
	margin-bottom: $gutter;

	.breadcrumbs {

		li {
			font-weight: 500;

			a {
				&.go-home {
					position: relative;
					padding-left: 16px;
					color: $secondary-color;
					z-index: 0;

					.icon {
						display: inline-block;
						width: 16px;
						height: 16px;
						position: absolute;
						left:0;
					}
				}
			}
		}
	}
}

.header-actions	{
	@include breakpoint(small only) {
		background-color: $light-gray;
		border-bottom: 1px solid mix($light-gray, $black, 97%);
		margin-bottom: $gutter;
		position: relative;
		z-index: 9;

		.margin-bottom {
			margin-bottom: .5rem;
		}

		h1,
		.button {
			margin-bottom: 0;
		}

		h1 {
			.icon {
				width: 28px;
				height: 28px;
			}
			font-size: rem-calc(18);
			margin-top: 6px;
		}

	}

	.is-modal & {
		background-color: transparent;
	}
}

.search-wrapper {
	background-color: mix($secondary-color, $black, 100%);
	padding: $global-padding $global-padding 0;

	@include breakpoint(large) {
		padding: $global-padding*2 $global-padding $global-padding;
	}

	&.search-main {
		border-radius: $global-radius;
		&.visible {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	@include breakpoint(small only) {
		&.search-main{
			border-top-right-radius: $global-radius;
			border-top-left-radius: $global-radius;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		&.search-mobile{
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			border-bottom-right-radius: $global-radius;
			border-bottom-left-radius: $global-radius;
		}
	}

	#searchFiltersButton,
	#searchFiltersModalButton,
	#searchFiltersButtonMobile,
	#searchFiltersButtonModalMobile,
	[data-filter-role="searchFiltersButton"],
	[data-filter-role="searchFiltersModalButton"],
	[data-filter-role="searchFiltersButtonMobile"],
	[data-filter-role="searchFiltersButtonModalMobile"] {
		&:before {
			content: "Ocultar ";
		}

		&.visible {


			&:before {
				content: "Ver ";
			}
		}
	}

}

.search-filters-wrapper {
	display: none;
	position: relative;
	background-color: $light-gray;
	border-radius: 0;
	padding: $global-padding $global-padding 0;
	border: 1px solid $line-color;

	@include breakpoint(medium) {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-bottom-right-radius: $global-radius;
		border-bottom-left-radius: $global-radius;
	}

	@include breakpoint(large) {
		padding: $global-padding $global-padding $global-padding;
	}

	&.visible {
		display: block;
	}

}

[type='checkbox'] + label,
[type='radio'] + label {
	font-weight: 500;
}

.filters-mobile {
	transition: background-color 120ms ease-out;
	background-color: rgba($reveal-overlay-background, 0);
	position: fixed;
	// .is-reveal-open & {
	// 	@include breakpoint(medium only) {
	// 		position: absolute;
	// 	}
	// }
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	transform: translate3d(-100%,0,0);
	.no-csstransforms3d {
		transform: translate(-100%,0);
	}

	> .panel {
		height: 100%;
		z-index: 1001;
		transform: translate3d(-100%,0,0);
		.no-csstransforms3d {
			transform: translate(-100%,0);
		}

		@include breakpoint(medium) {
			width: 70%;
		}

		// .is-reveal-open & {
		// 	@include breakpoint(medium only) {
		// 		height: auto;
		// 	}
		// }

		.panel-header {
			z-index: 1002;
		}

		.panel-body {
			padding-bottom: 120px;
		}
		.panel-footer {
			position: fixed;
			bottom: 0;
			right: 0;
			left: 0;
			padding-top: $global-padding;
			background-color: $lighter-gray;
			border-top: 1px solid $line-color;
		}
	}

	&.visible {
		background-color: rgba($reveal-overlay-background, .8);
		transform: translate3d(0,0,0);

		.no-csstransforms3d {
			transform: translate(0,0);
		}

		> .panel {
			transition: transform 180ms ease-out;
			transform: translate3d(0,0,0);
			.no-csstransforms3d {
				transform: translate(0,0);
			}

		}
	}
}

// @todo: move to _slider.scss

.asset-index-item-slider-images {
	opacity: 0;

			
	&.slick-initialized {
		transition: opacity .2s ease-out;
		display: block;
		opacity: 1;
	}
}

.slider-wrapper {
	position: relative;
	overflow: hidden;
	max-height: 200px;
	background-color: mix($light-gray, $dark-gray, 80%);
	background-image: url('../img/publication-details/placeholder.jpg');
	background-size: cover;
	background-position: center;

	@include breakpoint(medium) {
		max-height: 460px;
	}
	@include breakpoint(large) {
		max-height: 400px;
	}

	.images-pagination {
		display: block;
		height: 35px;
		width: 100%;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		color: white;
		z-index: 3;
		padding: 10px;
		text-align: right;
		@include clearfix;

		&:before {
			content: "";
			display: block;
			height: 35px;
			position: absolute;
			right: 0;
			bottom: -5px;
			left: 0;
			z-index: -1;
		}

		.haya-icon-video {
			display: inline-block;
			float: left;
			width: 20px;
			height: 14px;
			position: relative;
			bottom: -2px;
		}

		.haya-icon-camera {
			display: inline-block;
			width: 20px;
			height: 14px;
			position: relative;
			bottom: -1px;

			svg {
				overflow: hidden;
			}
		}

		.haya-images-pagination-numbers {
			white-space: nowrap;
			text-shadow: 1px 1px 1px transparentize($black, .6);
			font-size: rem-calc(13);
			line-height: 1.2;
			min-width: 40px;
			display: inline-block;

			span {
				display: inline-block;
				margin-left: 2px;
				margin-right: 2px;
			}
		}
	}
}

.slider {
	position: relative;
	// margin-bottom: $gutter/2;
	opacity: 0;

			
	&.slick-initialized {
		transition: opacity .2s ease-out;
		display: block;
		opacity: 1;
	}

	.slider-image {
		transition: position 180ms*4 linear;
		width: 100%;
		height: 200px;


		@include breakpoint(medium) {
			height: 460px;
		}
		@include breakpoint(large) {
			height: 400px;
		}


		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		outline: none;

		img {
			display: none;
		}
	}

	.slick-arrow {
		opacity: 0;
		transition: opacity 180ms linear;
		&.slick-disabled {
			opacity: 0;
			cursor: default;
		}
		svg {
			overflow: visible;
		}
	}

	&:hover {
		.slick-arrow {
			opacity: 1;
			&.slick-disabled {
				opacity: 0;
				cursor: default;
			}
		}
	}
}

.slider-thumbs {
	margin-left: -$gutter/4 ;
	margin-right: -$gutter/4 ;
	margin-top: $gutter/2;
	overflow: hidden;
	max-height: 90px;
	opacity: 0;

			
	&.slick-initialized {
		transition: opacity .2s ease-out;
		display: block;
		opacity: 1;
	}

	@include breakpoint(medium) {
		max-height: 110px;
	}
	@include breakpoint(large) {
		max-height: 100px;
	}

	.slider-thumb {
		height: 90px;


		@include breakpoint(medium) {
			height: 110px;
		}
		@include breakpoint(large) {
			height: 100px;
		}
		position: relative;
		outline: none;

		span {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			margin-left: $gutter/4 ;
			margin-right: $gutter/4 ;
			border-bottom: 3px solid transparent;
			opacity: .6;
			transition: opacity 180ms/2 ease-out, border-color 180ms/2 ease-out;
			cursor: pointer;
		}

		img {
			display: none;
		}

		&.slick-current {
			span {
				border-bottom: 3px solid $primary-color;
				opacity: 1;
			}
		}

		svg {
			overflow: visible;
		}

		&:hover {
			span {
				opacity: .8;
				border-bottom: 3px solid $line-color;
			}
		}

		&.slick-current {
			span {
				border-bottom: 3px solid $primary-color;
				opacity: 1;
			}

			&:hover {
				span {
					opacity: 1;
					border-bottom: 3px solid $primary-color;
				}
			}
		}
	}

	.slick-arrow {
		transition: opacity 180ms linear;
		&.slick-disabled {
			opacity: 0;
			cursor: default;
		}

		svg {
			overflow: visible;
		}

		&.slick-prev {
			left: 15px;
		}

		&.slick-next {
			right: 15px;
		}
	}

}

.haya-map {
	height: 400px;
	background-color: $line-color;
	margin-bottom: $gutter/2;
	margin-right: -$gutter;
	margin-left: -$gutter;
	margin-top: $gutter;

	@include breakpoint(large) {
		margin-right: 0;
		margin-left: 0;
	}
}




