////
/// @group fonts
////

// 400 + 500 + 700


@font-face {
	font-family: Circular;
	src: url('../fonts/circular-light.woff'), url('../fonts/circular-light.woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Circular;
	src: url('../fonts/circular-book.woff'), url('../fonts/circular-book.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Circular;
	src: url('../fonts/circular-medium.woff'), url('../fonts/circular-medium.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Circular;
	src: url('../fonts/circular-bold.woff'), url('../fonts/circular-bold.woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Circular;
	src: url('../fonts/circular-black.woff'), url('../fonts/circular-black.woff2');
	font-weight: 900;
	font-style: normal;
}