.standard-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	padding: 8px;
	border: 1px solid $medium-gray;
	color: $secondary-color;
	border-radius: 2px;
}

.big-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	padding: 8px;
	border: 1px solid $medium-gray;
	color: $secondary-color;
	border-radius: 2px;
}

.other-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	padding: 8px;
	border: 1px solid $medium-gray;
	color: $secondary-color;
	border-radius: 2px;

	&.design-icon {
		.icon {
			width: 85px;
			height: 120px;
		}
	}

	&.management-icon {
		.icon {
			width: 90px;
			height: 90px;
		}
	}

	&.thumb-icon {
		.icon {
			width: 90px;
			height: 90px;
		}
	}
}

.slider-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	padding: 8px;
	border: 1px solid $medium-gray;
	background-color: transparentize($primary-color,.7);
	border-radius: 2px;

	.icon-right,
	.icon-left {
		width: 16px;
		height: 28px;
	}
}

.icon-help-doc-wrapper {
	>.columns {
		margin-bottom: 10px;

		span {
			color: $darker-gray;
		}
	}
}

.icon-text-help-doc {
	color: $darker-gray;
	padding-bottom: 10px;
	border-bottom: 1px solid $line-color;
}

.icon-observations {
	margin-left: 5px;
	font-size: rem-calc(13);
	color: gray;
}

.status-help-doc-wrapper {
	>ul {
		>li {
			>span {
				color: $darker-gray;
			}
		}
	}
}


//TEMPORAL UTILIZADO DURANTE LA FASE DE DESARROLLO DE LA DOCUMENTACIÓN
.pending {
	border: 1px dashed crimson;
}

.outstanding {
	background-color: gold;
}