// BASE STYLE FOR ICONS SVG SYSTEM

.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
	z-index: 0;
	overflow: hidden;

	svg {
		position: absolute;
		top: 0;
		left: 0;
		path,
		polygon,
		circle,
		line,
		ellipse,
		polyline,
		rect {
			vector-effect: non-scaling-stroke;
			stroke: currentColor;
		}
	}

	&.icon-filled {
		svg {
			path,
			polygon,
			circle,
			line,
			ellipse,
			polyline,
			rect {
				vector-effect: non-scaling-stroke;
				stroke: transparent;
				stroke-width: 0px;
				fill: currentColor;
			}
		}
	}

	&.icon-inherit {
		svg {
			path,
			polygon,
			circle,
			line,
			ellipse,
			polyline,
			rect {
				vector-effect: non-scaling-stroke;
				stroke: inherit;
			}
		}
	}

	//usado en breadcrumbs

	&.icon-small {
		width: 14px;
		height: 14px;
	}

	//usado en listado de archivos de un cliente

	&.icon-medium {
		width: 30px;
		height: 30px;
	}

	//usado en feedback de acciones sin resultados

	&.icon-large {
		width: 64px;
		height: 64px;
	}

	//usado en publicidad

	&.icon-design {
		width: 154px;
		height: 218px;
	}

	//usado en notificaciones

	&.icon-read {
		div {
			width: 20px;
			height: 20px;
			background-color: $line-color;
			border-radius: 10px;
			color: $white;

			svg {
				width: 12px;
				height: 12px;
				position: relative;
				top: 2px;
			}
		}
	}

	//usado en mensajes

	&.icon-chat {
		width: 28px;
		height: 28px;
	}

	// 

	&.icon-video,
	&.icon-camera {
		svg {
			overflow: visible;
		}
	}
}

// slider arrows

.slick-arrow {
	i.icon {
		&.icon-right, 
		&.icon-left {
			width: 16px;
			height: 30px;

			svg {
				overflow: visible;
			}
		}
	}
}

// calificación energética

.cce-letter {
	display: block;
	position: absolute;
	bottom: 4px;
	left: 13px;
	color: white;
	font-size: 13px;
}

.cee-a {
	position: relative;
	bottom: 3px;

	i, i.icon svg {
		
		width: 40px;
		height: 24px;

		path {
			fill: green;
		}
	}
}

.cee-b {
	@extend .cee-a;

	i.icon svg {

		path {
			fill: #59D602;
		}
	}
}

.cee-c {
	@extend .cee-a;

	i.icon svg {

		path {
			fill: #CFF303;
		}
	}
}

.cee-d {
	@extend .cee-a;

	i.icon svg {

		path {
			fill: #F3E303;
		}
	}
}

.cee-e {
	@extend .cee-a;

	i.icon svg {

		path {
			fill: #F3A903;
		}
	}
}

.cee-f {
	@extend .cee-a;

	i.icon svg {

		path {
			fill: #F37703;
		}
	}
}

.cee-g {
	@extend .cee-a;

	i.icon svg {

		path {
			fill: #DF0000;
		}
	}
}

.icon-header-headphones {
	display: inline-block;
}
