

.list-all-items-actions {
	opacity: 0;
	pointer-events: none;
	transition: opacity 180ms ease-out;

	&.visible {
		opacity: 1;
		pointer-events: auto;
	}
}

table.results tbody tr {

	&[data-role="client"] {
		td:last-child {
		
			@include breakpoint(small only) {
				padding-top: 20px !important;
				padding-bottom: 30px !important;

				.button.has-icon[data-selector-client] {
					display: block;
				}
			}

			padding-bottom: 16px;

			
		}

		.card.card-client {
			@include breakpoint(small only) {
				margin-top: 30px;
				padding-right: 10px;
			}
		}
	}
	
	&[data-role="notification"],
	&[data-role="interesting-area"] {

		td:nth-last-child(2) {
			> div {
				border-bottom: none;

				span {
					white-space: normal;
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
			
	}
	&[data-role="visit"],
	&[data-role="offer"],
	&[data-role="ventas"],
	&[data-role="division"],
	&[data-role="sale"],
	&[data-role="territorial-management"],
	&[data-role="area-management"],
	&[data-role="interesting-area"],
	&[data-role="alert"],
	&[data-role="group"],
	&[data-role="user"],
	&[data-role="provider"] {
		td:last-child {
			@include breakpoint(small only) {
				.button {
					position: absolute;
					top: 20px;
	    			right: 0;
				}
			}
		}
	}

	&[data-role="alert"],
	&[data-role="interesting-area"] {
		.card.card-common > div {
			@include breakpoint(small only) {
				padding-left: 0;
			}
		}
	}

	&[data-role="alert"],
	&[data-role="user"] {
		td:nth-last-child(2) {
			.card.card-common {
				border-bottom: none;
			}
		}
	}
	&[data-role="division"] {
		.is-modal & {
			td:last-child {
				display: none;
			}	
		}
	}
	&[data-role="new-construction"],
	&[data-role="interesting-area"] {

		@include breakpoint(small only) {
			td:nth-last-child(2) {
				> div.card.card-status  {
									
					border-bottom: 1px solid $line-color;
					padding-bottom: 10px;
				
					span {
						white-space: normal;
						margin-bottom: 0;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}	
	}
}

table.results {
	.is-modal & {
		margin-bottom: $gutter;
	}
}



table.results {
 	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	// border: none;
	margin-bottom: 0;

	thead {
		border-color: $line-color;
		background-color: $lighter-gray;


		@include breakpoint(small only) {
			display: none;
		}

		tr {
			background-color: transparent;

			&:hover {
				background-color: transparent !important;
			}

			th {
				color: $darker-gray;
				padding: $global-padding/1 $global-padding/1.5 $global-padding/1.4;

				span,
				a {
					color: $darker-gray;
					position: relative;
					top: 2px;

					i {
						font-style: normal;
					}
				}
			}
		}


	}

	tbody {

		// border: none;
		// background-color: transparent;

		tr {
			&:nth-child(odd),
			&:nth-child(even) {
				// background-color: transparent;
			}

			border-bottom: 1px solid $line-color;
			position: relative;
			vertical-align: middle;

			// &:hover {
			// 	background-color: inherit !important;
			// }

			@include breakpoint(small only) {
				display: block;
				// width: 100% !important;
				// padding: $gutter/1.3 0;
			}

			&.highlight {
				background-color: $highlight-color;

				&:hover {
					background-color: mix($highlight-color, $primary-color, 90%);
				}
			}

		  	&.action-message {
			  display: none;

			  @include breakpoint(small only) {
			  	display: none !important;
			  }

			  .full-result-selection, .full-page-selection {
				display: none;
			  }

			  &.full-page-selection {
				display: table-row;

				.full-page-selection {
				  display: block;
				}
			  }
			  &.full-result-selection {
				display: table-row;

				.full-result-selection {
				  display: block;
				}
			  }
			}

			td {
				padding: $global-padding/1 $global-padding/1.5 $global-padding/1.4;
				@include breakpoint(small only) {
					display: block;
					// width: 100%;
					padding: 2px $global-padding*1.25;
					&.no-stack {
						display: inline-block;
						padding-left: $global-padding*1.5;
						padding-right: $global-padding/2;
						padding-bottom: 10px;
						+ .no-stack {
							padding-left: $global-padding/2;
							padding-right: $global-padding/2;
							+ .no-stack {
								padding-left: $global-padding/2;
								padding-right: $global-padding/2;
							}
						}
					}

					&:nth-last-child(2){
						> .card.card-status {
							border-bottom: 0;
							padding-bottom: 20px;
						}
					}
				}

				// @include breakpoint(medium) {
				// 	padding: 2px $global-padding/1.2;
				// }

				.list-item-actions {
					@include breakpoint(small only) {
						position: absolute;
						top: $gutter*1.1;
						right: 0;
					}
				}

				.message-read {
					@include breakpoint(small only) {
						position: absolute;
						top: $gutter*1.4;
						right: $gutter/2;
					}
				}
			}
		}
	}
}

table.no-border {
	border: none;
	thead {
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid $line-color;
		background-color: mix(whitesmoke, white);

		tr {
			th {
				padding: $panel-padding/1.5 $panel-padding;
			}
		}
	}
	tbody {
		border: none;
		tr {
			td {
				padding: $panel-padding/1.5 $panel-padding;
			}
		}
	}

	&.results {
		tbody {
			border: none;
			tr {
				td {
					@include breakpoint(small only) {
						display: block;
						// width: 100%;
						padding: 2px $global-padding*1.25;
						&.no-stack {
							display: inline-block;
							padding-left: $global-padding*1.5;
							padding-right: $global-padding/2;
							padding-bottom: 10px;
							+ .no-stack {
								padding-left: $global-padding/2;
								padding-right: $global-padding/2;
								+ .no-stack {
									padding-left: $global-padding/2;
									padding-right: $global-padding/2;
								}
							}
						}

						&:first-child{
							padding-top: 20px;
						}

						&:nth-last-child(2){
							> .card.card-status {
								border-bottom: 0;
								padding-bottom: 20px;
							}
						}
					}
				}
			}
		}
	}
}

%card-header {
	@include breakpoint(small only) {
		margin-bottom: $gutter/2;
		padding-bottom: $gutter/2;
		border-bottom: 1px solid $light-gray;

		> div {
			// padding-right: 20px;
		}
	}
}

%card-v-separator {
	// @include breakpoint(small only) {
	// 	padding-bottom: 5px;
	// }
	@include breakpoint(small only) {
		// margin-bottom: $gutter/2;
		margin-bottom: $gutter/2;
		padding-bottom: $gutter/2;
		border-bottom: 1px solid $light-gray;

		> div {
			// padding-right: 20px;
		}
	}
}

.card {
	font-size: rem-calc(16);

	@include breakpoint(medium) {
		font-size: rem-calc(14);
	}
	position: relative;
	line-height: 1.3;

	a {
		color: $secondary-color;
		transition: color .2s linear;

		&:hover {
			color: $primary-color;
		}
	}

	.icon {
		color: mix($secondary-color, $white, 60%);
		width: 30px;
		height: 30px;
		position: relative;
		bottom: 0;
	}

	@include breakpoint(small only) {
		border-bottom: 1px solid $line-color;
		margin-top: 10px;
    	padding-bottom: 10px;

    	.label-for-small-only {
    		font-size: rem-calc(12);
    		text-transform: uppercase;
    		font-weight: 700;
    		color: $dark-gray;
    		display: block;
    		
    		&.label-inline {
				display: inline-block;
				margin-right: 5px;
    		}
    	}
	}



	&.card-common {

		// @extend %card-v-separator;

		> div {

			@include breakpoint(small only) {
				padding-left: 44px;
			}

			> span {
				display: block;
				color: $secondary-color;
				font-weight: 700;

				@include breakpoint(small only) {
					font-weight: 500;
				}
			}

			span + span {
				color: $body-font-color;
				font-weight: 400;

				a {
					color: $body-font-color;
					transition: color .2s linear;

					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}

	&.card-text {

		// @extend %card-v-separator;

		> div {

			> span {
				display: block;
				color: $body-font-color;
				font-weight: 400;

				@include breakpoint(small only) {
					font-weight: 500;
				}

				a {
					color: $body-font-color;
					transition: color .2s linear;

					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}

	&.card-client {

		// @extend %card-header;


		> span {

			display: block;
			position: absolute;
			left: -2px;
			width: 34px;
			height: 34px;
			background-color: $light-gray;
			border-radius: 50%;
			top: -2px;

			img {
				display: block;
				border-radius: 50%;
				width: 34px;
				height: 34px;
			}
		}

		> div {
			padding-left: 44px;
			position: relative;

			> span {
				display: block;
				font-weight: 700;
			}



			span + span {
				color: $body-font-color;
				font-weight: 500;
				position: relative;

				&:last-child {

					&:after {
						content: "";
						display: inline-block;
						width: 10px;
						height: 10px;
						border-radius: 5px;
						position: relative;
						margin-left: 5px;
					}
				}
			}


		}

		&.active-client {
			> div span + span {
				&:after {
					background-color: $success-color;
				}
			}
		}

		&.inactive-client {
			> div span + span {
				&:after {
					background-color: $alert-color;
				}
			}
		}

		&.lead-client, &.discarded-client {
			> div span + span {
				&:after {
					background-color: $medium-gray;
				}
			}
		}
	}

	&.card-user {

		// @extend %card-v-separator;

		> span {

			display: block;
			position: absolute;
			left: -2px;
			width: 34px;
			height: 34px;
			background-color: $light-gray;
			border-radius: 50%;
			top: -2px;

			img {
				display: block;
				border-radius: 50%;
				width: 34px;
				height: 34px;
			}
		}

		> div {
			padding-left: 44px;
			position: relative;

			> span {
				display: block;
				font-weight: 700;


			}

			span+span {
				color: $body-font-color;
				font-weight: 400;
				position: relative;

				&:last-child {

					&:after {
						content: "";
						display: inline-block;
						width: 10px;
						height: 10px;
						border-radius: 5px;
						position: relative;
						margin-left: 3px;
					}
				}
			}


		}
	}

	&.card-counter {

		// background-color: $lighter-gray;
		border-radius: 2px;
		min-width: 70px;
		text-align: center;
		padding: 0.4342em .5em 0.2342em;
		white-space: nowrap;
		font-weight: 700;
		color: $secondary-color;
		border: 1px solid $line-color;

		@include breakpoint(small only) {
			margin-top: $gutter/2;
		}

		.icon {
			position: relative;
			top: 1px;
			left: 0px;
			width: 21px;
			height: 21px;
			margin-right: 3px;

		}

		span {
			vertical-align: middle;
			position: relative;
			bottom: 3px;
		}
	}

	&.card-chat {

		i {
			vertical-align: middle;
			margin-right: 10px;
		}

		span {
			font-size: rem-calc(14);
			color: $secondary-color;
			font-weight: 700;
			vertical-align: middle;
		}

		@include breakpoint(small only) {
			border-bottom: none;
		}
	}

	&.card-asset,
	&.card-advertising {

		// @extend %card-header;


		> span {
			display: block;
			position: absolute;
			left: 0;
		}

		> div {
			padding-left: 44px;

			> span {
				display: block;
				font-weight: 700;
			}

			span + span {
				color: $body-font-color;
				font-weight: 500;
			}
		}
	}

	&.card-modal {


		> span {
			display: block;
			position: absolute;
			left: 0;
		}

		> div {
			padding-left: 44px;

			> span {
				display: block;
				font-weight: 700;
			}

			span+span {
				color: $body-font-color;
				font-weight: 400;
			}
		}

		p {
			position: relative;
			.icon {
				position: absolute;
				left: -44px;
				top: 0;
			}
		}
	}

	&.card-modal-single {
		> span {
			display: block;
			position: absolute;
			left: 0;

			i {
				top: -8px;
			}
		}

		> div {
			padding-left: 44px;

			> span {
				display: block;
				font-weight: 700;
			}

			span+span {
				color: $body-font-color;
				font-weight: 400;
			}
		}
	}

	&.card-visitor-provider,
	&.card-visitor-prescriptor,
	&.card-visit-date,
	&.card-offer-date,
	&.card-sale-date  {

		// @extend %card-v-separator;


		> span {
			display: block;
			position: absolute;
			left: 0;
		}

		> div {
			padding-left: 44px;

			> span {
				display: block;
				font-weight: 700;
			}

			span+span {
				color: $body-font-color;
				font-weight: 400;
			}
		}
	}

	&.card-status {

		// @extend %card-v-separator;

		> div {

			@include breakpoint(small only) {
				padding-left: 24px;
			}

			> span {
				display: block;
				color: $secondary-color;
				font-weight: 700;
				position: relative;
				padding-left: 20px;

				&:before {
					content: "";
					display: inline-block;
					width: 10px;
					height: 10px;
					border-radius: 5px;
					position: absolute;
					top: 2px;
					left: 0;
				}

				@include breakpoint(small only) {
					font-weight: 500;
				}
			}

			span+span {
				color: $dark-gray;
				font-weight: 500;

				&:before {
					content: none;
				}

				a {
					color: $dark-gray;
					transition: color .2s linear;

					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}

	&.card-file {

		// @extend %card-header;


		> span {
			display: block;
			position: absolute;
			left: 0;
		}

		> div {
			padding-left: 40px;

			> span {
				display: block;
				font-weight: 700;
			}

			span+span {
				color: $body-font-color;
				font-weight: 400;
			}
		}
	}

	i {
		font-style: normal;
		font-weight: 400;
		color: $darker-gray;
	}
}

.card-extended {
	position: relative;
	line-height: 1.3;
	font-size: rem-calc(14);
	font-weight: 500;
	color: $secondary-color;

	> span {
		display: block;
		position: absolute;
		top: 0;
		left: 0;

		img {
			border-radius: 20px;
		}
	}

	> div {
		padding-left: 60px;

		.card-name {
			font-size: rem-calc(15);
			font-weight: 700;
			color: $secondary-color;
			// white-space: normal;
		}

		.card-tel {
			display: block;

			a {
				color: $dark-gray;
			}
		}

		.card-mail {
			display: block;
		}
	}
}

.is-pagination.has-loading {
	.circular-spinner {
		display: none;
	}
}

// LISTADOS EN MOBILE

.header-stack{
	
	&.header-stack-small-only  {
		@include breakpoint(small only) {
			padding-top: $gutter;
			padding-bottom: 8px;
			background-color: $light-gray;	

			> .card {
				border-bottom: none;

				> div {
					padding-left: 0;
					padding-right: 0;

					> span,
					> span i {
						font-size: rem-calc(18);
						font-weight: 700;
						color: $secondary-color;

						+ span,
						+ span i,
						+ span a {
							color: $dark-gray;
							font-weight: 500;
							font-size: rem-calc(16);
						}
					}
				}
			}
		}
	}
}

@include breakpoint(small only) {
	.unread {
		.header-stack{
			&.header-stack-small-only  {
				background-color: $highlight-color;
			}
		}
	}
}


.has-selector {
	border-top: 1px solid $line-color;
	.has-selector-item {
		position: relative;
		padding: $gutter/1.1 $gutter $gutter/1.6;
		border-bottom: 1px solid $line-color;

		input {
			position: absolute;
			top: $gutter/1.05;
			left: $gutter;
		}
		
		label {
			font-size: rem-calc(16);
			padding-left: $gutter;
			line-height: 1.3;
		}

		&.has-selector-item-active {
			background-color: $highlight-color;
		}
	}
}

table.results tbody tr[data-role="territorial-management"],
table.results tbody tr[data-role="area-management"],
table.results tbody tr[data-role="group"],
table.results tbody tr[data-role="event"],
table.results tbody tr[data-role="city"],
table.results tbody tr[data-role="asset"],
table.results tbody tr[data-role="new-construction"],
table.results tbody tr[data-role="page"],
table.results tbody tr[data-role="job-application"],
table.results tbody tr[data-role="job-offer"],
table.results tbody tr[data-role="menu-link"],
table.results tbody tr[data-role="term"] {
	@include breakpoint(small only) {
		td.no-stack {
			padding: 4px 5px 0;
			.card-counter {
				padding: 0;
				min-width: inherit;
				border: none;
			}
			width: 23.6%;
			text-align: center;

			+ td.no-stack {
				padding: 4px 5px 0;
				

				+ td.no-stack {
					padding: 4px 5px 0;
					

					+ td.no-stack {
						padding: 4px 5px 0;
						
					}
				}
			}
		}

		td .card.card-common > div {
			padding-left: 0;
		}
		td:nth-last-child(2) {
			text-align: right;

			> div.card.card-common  {
				border-bottom: none;
				padding-bottom: 10px;
				padding-top: 10px;
				border-top: 1px solid $line-color;
			}
		}

		td.header-stack-small-only {
			padding-left: $gutter*2.2;
			background-color: transparent;
		}

		td:first-child {
			height: 0;
			padding: 0;

			> input  {
				position: absolute;
				left: $gutter;
				top: $gutter*1.52;
			}
		}
	}
}


table.results tbody tr[data-role="page"],
table.results tbody tr[data-role="new-construction"],
table.results tbody tr[data-role="city"],
table.results tbody tr[data-role="job-offer"],
table.results tbody tr[data-role="menu-link"] {
	@include breakpoint(small only) {
		
		td:nth-last-child(2) {
			text-align: left;

			> div.card.card-status  {
				border-bottom: none;
				padding-bottom: 10px;
				padding-top: 10px;
				border-top: 1px solid $line-color;
			}
		}
	}
}

table.results tbody tr[data-role="asset-stock"] {
	@include breakpoint(small only) {
		
		td:nth-last-child(2) {
			text-align: left;

			> div.card.card-status  {
				padding-bottom: 10px;
				border-bottom: 1px solid $line-color;
			}
		}

		td:last-child {
			text-align: left;

			> div.card.card-common  {
				border-bottom: none;
			}
		}
	}
}

table.results tbody tr[data-role="asset"],
table.results tbody tr[data-role="group"],
table.results tbody tr[data-role="event"],
table.results tbody tr[data-role="term"] {
	@include breakpoint(small only) {
		
		td:nth-last-child(2) {
			text-align: left;

			> div.card.card-common  {
				border-bottom: none;
				padding-bottom: 10px;
				padding-top: 10px;
				border-top: 1px solid $line-color;
			}
		}
	}
}

table.results tbody tr[data-role="advertising-asset"] {
	@include breakpoint(small only) {

		td:last-child {
			text-align: right;
			padding-bottom: 15px;
			padding-top: 10px;
		}

		td:nth-last-child(2) {
			> div.card.card-status  {
				border-bottom: 1px solid $line-color;
			}
		}
	}
}

table.results tr[data-translate-click-to-a] {
	cursor: pointer;
	&:hover {
		background-color: $highlight-color;
	}
}

$tab-color: mix(white, whitesmoke);

.results-tabs {
	margin: 0;
	padding: 0;
	@include clearfix;

	li {
		list-style-type: none;
		list-style-image: none;
		display: block;
		float: left;

		a {
			display: block;
			background-color: #f2f2f2;
			padding-top: 14px;
	        padding-bottom: 10px;
	        padding-left: 35px;
	        padding-right: 15px;
	        @include breakpoint(medium) {
	        	padding-left: 40px;
	        	padding-right: 20px;
	        }
	        color: $darker-gray;
			border-left: 1px solid $line-color;
			border-top: 1px solid $line-color;
			text-align: center;
	 		font-weight: 700;
	        text-transform: uppercase;
	        font-size: rem-calc(12);
	        transition: background-color 180ms ease-out, color 180ms ease-out;
	        position: relative;

	        &:hover {
	        	color: $primary-color;
            	background-color: scale-color($panel-background, $lightness: $panel-background-fade);
	        }
	        
	        &[data-tab-active] {
				background-color: $tab-color;

				&:after {
	                content: "";
	                display: block;
	                position: absolute;
	                top: 100%;
	                right: 0;
	                left: 0;
	                bottom: -2px;
	                background-color: $tab-color;
	                z-index: 1;
	            }
	        }

	        .icon {
	        	width: 18px;
	        	height: 18px;
	        	position: absolute;
	        	left: 13px;
	        	top: 12px;
	        }
		}

		&:first-child {
			a {
				border-top-left-radius: $global-radius;
			}
		}

		&:last-child {
			a {
				border-right: 1px solid $line-color;
				border-top-right-radius: $global-radius;
			}
		}
	}
}

table.results {
	&.tabs-before {
		display: none;

		&[data-tab-active] {
			display: table;
		}

		thead {
			background-color: $tab-color;

			@include breakpoint(small only) {
				display: block;
				overflow: hidden;
				height: 20px;
				border-bottom: none;
				width:  100.2%;

				tr {
					display: none;
				}
			}	
		}
	}
}

.results-tabs-wrapper {
	.tabs-before {
		display: none;

		&[data-tab-active] {
			display: block;
		}

		.panel-header {
			background-color: $tab-color;
		}
	}
}