@keyframes stripes {
  from { background-position: 0 0; }
  to   { background-position: 60px 30px; }
}

.panel {
    .panel-body.empty-loading {
      min-height: 200px;
      position: relative;
    }
}

.uploading {
	position: relative;
	background-color: transparent;
	z-index: 0;
	min-width: 100%;
	// width: 100%;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: inherit;
		background-color: mix($primary-color, $white , 8%);
		z-index: -1;
		background-size: 30px 30px;
		background-image: linear-gradient(to top left,
			rgba($white, 0.5) 25%,
			transparent 25%,
			transparent 50%,
			rgba($white, 0.5) 50%,
			rgba($white, 0.5) 75%,
			transparent 75%,
			transparent);
		animation: stripes 1.5s linear infinite;
	}
}

.uploading-information {
	font-size: rem-calc(13px);
	color: $darker-gray;
}

.has-loading {
	position: relative;
	height: 100%;

	@include breakpoint(small only) {
		min-height: 80px;
	}
}

.result-name.has-loading {
	.loading {
		display: none;
	}
}

.reveal-body.has-loading {
	.circular-spinner {
		display: none;
	}
	.loading.loading-list {
		right: 0px;
		left: 0px;
	}
}

caption.loading.loading-full {
  display: none;
}

.loading {
	&.loading-list {
		// display: none;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 5px;
		left: 5px;

		@include breakpoint(medium) {
			right: 5px;
			left: 5px;
		}
		@include breakpoint(large) {
			right: 8px;
			left: 8px;
		}
		@include breakpoint(xlarge) {
			right: $gutter/2;
			left: $gutter/2;
		}
		@include breakpoint(xxlarge) {
			right: $gutter/1.25;
			left: $gutter/1.25;
		}
		z-index: 10;
		padding: 0;
		background-color: rgba($white, .9);
		border: 1px solid $line-color;
	}

	&.loading-full {
		display: block;
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		left: 1px;
		z-index: 10;
		padding: 0;
		background-color: rgba($white, .9);

		&.loading-full-page {
			z-index: 5000;
		}
	}

	&.loading-panel {
		background-color: mix(whitesmoke, white, 70%);
		top: $gutter;
		right: $gutter;
		bottom: $gutter;
		left: $gutter;
		border: 1px solid $line-color;
		border-radius: $global-radius;
	}

	.loading-content {
		display: table;
		width: 100%;
		height: 100%;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: inherit;
			opacity: .5;
			background-color: mix($primary-color, $white , 8%);
			z-index: -1;
			background-size: 30px 30px;
			background-image: linear-gradient(to top left,
				rgba($white, 0.5) 25%,
				transparent 25%,
				transparent 50%,
				rgba($white, 0.5) 50%,
				rgba($white, 0.5) 75%,
				transparent 75%,
				transparent);
			animation: stripes 1.5s linear infinite;
		}

		.loading-info {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			p {
				margin: 0;
			}
		}
	}

	&.loading-more {
		margin: $global-padding/4 auto 0;
		width: 70px;
		text-align: center;

	 	.points {
			.point {
				width: 10px;
				height: 10px;
				background-color: $secondary-color;
				border-radius: 100%;
				display: inline-block;
				animation: pointsLoop 1s infinite ease-in-out both, pointsColor 2s infinite ease-in-out both;

				&.point-2 {
				  animation-delay: 0.2s;
				}

				&.point-3 {
				  animation-delay: 0.4s;
				}
			}
		}
	}

	@keyframes pointsLoop {

		0% {
			transform: scale(0);
		} 40% {
			transform: scale(1.0);
		} 100% {
			transform: scale(0);
		}
	}

	@keyframes pointsColor {

		0% {
			background-color: $primary-color;
		} 100% {
			background-color: $secondary-color;
		}
	}
}


$width: 100px;

body {
  background-color: $white;
}

.circular-spinner {
	animation: rotate 2s linear infinite;
	transform-origin: center center;
	height: 100px;
	width: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.line-spinner {
	transform-origin: center center;
	height: 2px;
	width: 90px;
	position: relative;
	margin: 0 auto;
}

.path-spinner-reverse {
	stroke-width: 4px;
	stroke-dasharray: 1, 87;
	stroke-dashoffset: 0;
	animation: line 1s ease-in-out alternate-reverse infinite;
	stroke-linecap: round;
	stroke: red;
}

.path-spinner {
	stroke-width: 2px;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 1, 87;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 1, 87;
    stroke-dashoffset: -87px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $primary-color;
  }
  40% {
    stroke: $secondary-color;
  }
  66% {
    stroke: $primary-color;
  }
  80%,
  90% {
    stroke: $secondary-color;
  }
}