.only-login-page {
  height: 100%;
  background-color: $menu-color;

  main {
    padding: 0 !important;
    height: 100%;

    .middle-box {
      display: table;
      width: 100%;
      height: 100%;
      > div {
        display: table-cell;
        vertical-align: middle;
        

        .crm-login {
          max-width: 360px;
          margin: 0 auto;
          background-color: mix(white, black, 97%);
          padding: 20px;
          border-radius: 3px;
          box-shadow: 0 3px 6px rgba(black, .3);
          
          .logo-name {
            font-weight: 700;

            span {
              font-weight: 400;
            }
          }

          p {
            font-size: 14px;
            line-height: 1.3;
          }
        }

        .m-t {
          margin-top: 10px;
          color: rgba(whitesmoke, .5);
          font-size: 14px;
        }
      }

      .btn {
        // @extend .button;
        width: 100% !important;
        display: block !important; 
      }

      .alert {
        padding: 10px;
        margin-bottom: 15px;
        background-color:mix(red, white, 20%);
        font-size: 14px;
        line-height: 1.3;

        &.alert-info {
          color: mix(red, black, 80%);
        }
      }
    }
  }
}