////
/// @group menu-top
////

.main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $main-header-height;
    background-color: mix($menu-color, $black, 80%);
    z-index: 11;
    border-bottom: 1px solid rgba($black, 0.1); 
    padding-left: $nav-expanded-width;

    .top-bar {
        font-size: rem-calc(14);

        .user-fast-action > a {
            color: $white;
            position: relative;
            height: $main-header-height;
            border-left: 1px solid rgba($black, .3);
            transition: all .3ms ease-out;
            background-color: rgba(black, .0);

            i {

                &.icon {
                    width: 24px;
                    height: 24px;
                    overflow: hidden;
                    margin-right: 0;
                    color: $white;

                    svg {
                        
                        // fill: currentColor;
                        margin: 0;
                    }
                }
            }

            &:hover {
                background-color: rgba(black, .4);

                i {
                    
                    &.icon {

                        color: $white;

                        svg {
                            path,
                            polygon,
                            circle,
                            line,
                            polyline,
                            rect {
                                vector-effect: non-scaling-stroke;
                                stroke: currentColor;
                            }
                        }
                    }
                }

                .badge {
                    box-shadow: 0 0 0 2px mix($menu-color, $black, 40%);
                }
            }

            .badge {
                position: absolute;
                top: 5px;
                right: 4px;
                // width: 19px;
                // height: 19px;
                min-width: 17px;
                min-height: 15px;
                line-height: 1.4;
                font-weight: 700;
                padding-bottom: 0;
                font-size: rem-calc(10);
                transition: all .3ms ease-out;
                box-shadow: 0 0 0 2px mix($menu-color, $black, 80%);
            }

            @include breakpoint(small only) {
        
                display: none;
               
            }
        }

        a.user-menu {
            display: block;
            padding: 15px 30px 10px 54px;
            color: rgba(white, .7);
            background-color: rgba(black, .2);
            position: relative;
            min-width: 160px;
            line-height: 1.3;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            @include breakpoint(small only) {
                max-width: 160px;
            }
            
            &:hover {
                background-color: rgba(black, .4);
            }
            
            &:after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border: inset 0.4em;
                border-color: rgba(white, .4) transparent transparent;
                border-top-style: solid;
                border-bottom-width: 0;
                position: absolute;
                top: 23px;
                right: 15px;
            }

            span {
                position: absolute;
                display: block;
                width: 32px;
                height: 32px;
                left: 14px;
                top: 6px;
                
                img {

                }
            }
        }

        .top-bar-tel {
            a {
                font-size: rem-calc(13);
                letter-spacing: rem-calc(0.5);
                font-weight: bold;
                border-left: none;

                span {
                    display: inline-block;
                    margin-left: 8px;
                }
            }
        }
    }
}

.has-triangle {
    &.triangle-top {
        margin-top: 5px;
        &:after {
            content: '';
            @include triangle(20px, $secondary-color, up);
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -10px;
        }
    }
}