////
/// @group menu-aside
////

body {
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased ;
}

.hamburger-btn   {
    transform: translate3d(0,0,0);
    width: 44px ;
    height: $main-header-height ;
    position: fixed;
    top: -2px ;
    left: 0 ;
    z-index: 12 ;
    cursor: pointer ;
    border-radius: 3px ;
    font-size: 18px ;
    text-align: center ;
    line-height: 42px ;
    color: $white ;
    opacity: 1 ;
    transition: all .25s ;
    overflow: hidden;

    &:focus {
        outline: 0;
    }

    @include breakpoint(medium) {
        left: -100px;
    }

    i { 
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 9px;
        left: 10px;

        &.icon-close {
            opacity: 0;
        }

        &.icon-menu {
            opacity: 1;
        }

        transition: all .25s ;
    }

	    &.visible {
	    	opacity: .8 ;
	    	left: 0 ;
	    }

        &.opened {

            i {
                &.icon-close {
                    opacity: 1;
                }

                &.icon-menu {
                    opacity: 0;
                }
            }
        }
    }


.main-logo   {
    // width: $nav-expanded-width - 20px ;
    transform: translate3d(0,0,0);
    height: $main-header-height ;
    position: fixed;
    left:  $gutter/2;
    color: $white ;
    z-index: 12;
    font-weight:  700 ;
	font-size: rem-calc(18) ;
    padding: 0 ;
    transition: all .25s ;
    margin: 0;
    line-height: 2.7;

    span {
		font-weight: 400;
    }

    @include breakpoint(small only) {
        left: 45px;
    }
}

.main-nav   {
    width: $nav-expanded-width;
    
    @include breakpoint(small only) {
        transition: transform 0s, box-shadow .18s ease-out;
        transform: translateX(-100%);
        // width: 80%;
        z-index: 10;
        box-shadow: 0 0 0 rgba($black, 0);

        .mobile-menu-opened & {
            transition: transform .14s ease-out, box-shadow .18s ease-out;
            transform: translateX(0);
            overflow-x: hidden;
            overflow-y: auto;
            box-shadow: 0 0 60px rgba($black, .8);
        }
    }

    @media screen and #{breakpoint(medium)} and #{breakpoint(large down)}{
        width: $nav-compact-width;

        span {
            position: relative ;
            padding: 0 10px 0 ;
            opacity: 0 ;
            display: inline-block ;
            background-color: mix($menu-color, $black, 80%) ;
            transform: translate(50px) ;
            border-radius: 3px ;
            transition: transform 300ms .15s, opacity .1s, background-color 300ms 1.5s, padding 300ms 1.5s;
        }
    }

    height: 100% ;
    position: fixed ;
    top: $main-header-height ;
    left: 0 ;
    padding: 0;
    background-color: $menu-color ;
    z-index: 2 ;

    
}

.main-nav li {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 1px;
        background-color: mix($menu-color, $black, 92%);
    }

    > ul li {
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 1px;
            background-color: mix($menu-color, $black, 66%);
        }
    }
    span {
        position: relative;
        bottom: -1px;
    }

    @media screen and #{breakpoint(medium)} and #{breakpoint(large down)}{

        span {
            height: 22px;
            line-height: 1.7;
            transition: none;
        }
        
        &:hover span {
            transform: translate(16px) ;
            opacity: 1;
            transition: transform .15s , opacity .15s ;
            
            &:before {
                opacity: 1;
            }
        }
        &:active span {
            color: mix($menu-color, $white, 0%) ;
            background-color: mix($menu-color, $white, 80%) ;
            transition: none ;

            &:before {
                border-right: 8px solid mix($menu-color, $white, 80%) ;
                transition: none ;
            }
        }

   
        span:before {
            content:"" ;
            width: 0 ;
            height: 0 ;
            border-right: 8px solid mix($menu-color, $black, 80%) ;
            border-top: 8px solid transparent ;
            border-bottom: 8px solid transparent ;
            position: absolute ;
            top: 50% ;
            left: -8px ;
            transform: translateY(-50%);
            opacity: 0;
        }
    }
}

.main-nav a {
    padding-left: 10px ;
    padding-top: $nav-font-size*.75 ;
    padding-bottom: $nav-font-size*.75 ;
    display: block ;
    font-size: $nav-font-size ;
    opacity: .8 ;
    color: $white ;
    font-weight: 500 ;
    white-space: nowrap ;
    transition: none ;
    transition: background-color .25s , opacity .25s ;
    overflow: hidden;
    @media screen and #{breakpoint(medium)} and #{breakpoint(large down)}{
        overflow: hidden;
    }

    &:hover {
         overflow: visible ;
    }
}

.main-nav li.dropdown {
    // height: 54px ;
    // padding: 0 ;
}

.main-nav .dropdown.opened    {
    background-color: mix($menu-color, $black, 70%) ;

    ul {
        display: block;
    }
}

.main-nav a:hover  {
    color: $white ;
    background-color: mix($menu-color, $black, 70%) ;
    opacity: 1 ;
}

.main-nav a:active,
.main-nav a:focus  {
    color: mix($menu-color, $white, 10%) ;
    background-color: mix($menu-color, $black, 30%) ;
    transition: none ;
}

.main-nav a i {
    content: "" ;
    display: inline-block ;
    vertical-align: middle;
    width: $nav-icon-size ;
    height: $nav-icon-size ;
    position: relative ;
    margin-right: 5px ;
    margin-left: 3px;
    top: -2px;
    background-repeat: no-repeat ;
    background-position: center ;
    background-size: $nav-icon-size ;
    transition: transform .25s ;
    color: $white;
    
    
    svg {
        // fill: currentColor;
        path,
        polygon,
        circle,
        line,
        polyline,
        rect {
            vector-effect: non-scaling-stroke;
            stroke: currentColor;
        }
    }
}

.main-nav li.dropdown ul {
    background-color: mix($menu-color, $black, 80%) ;
    font-size: 15px ;
    border-top: 1px solid mix($menu-color, $black, 66%) ;
    // border-bottom: 1px solid mix($menu-color, $black, 40%) ;
    display: none ;
}

.main-nav li.dropdown li a {

}

.main-nav li.dropdown li a::before {
    top: 0 ;
}


main{
    
    @include breakpoint(small only) {
        padding-left: 0;
    }

    padding-top: $main-header-height;
    width: 100% ;
    padding-left: $nav-compact-width;
    
    @include breakpoint(xlarge) {
        padding-left: $nav-expanded-width;
    }
    // &:after {
    //     transition: all .18s ease-out;
    //     content: "";
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 0;
    //     height: 100%;
    //     background-color: rgba($white, 0);
    //     z-index: 9;
    //     opacity: 0;
    // }

    .mobile-menu-opened & {
        // &:after {
        //     content: "";
        //     transition: all .25s ease-out;
        //     position: fixed;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba($white, .94);
        //     z-index: 9;
        //     opacity: 1;
        // }
    }
}