.dialog-wrapper {
	
	@include breakpoint(medium) {
		margin-left: $gutter*2;
	}

	.dialog-item {
		margin-bottom: 40px;
		.dialog-item-body {
			background-color: $lightest-gray;
			padding: $global-padding;
			border: 1px solid $line-color;
			border-radius: $global-radius;
			margin-top: $gutter/1.5;
			margin-bottom: $gutter;
			position:relative;

			&:after {
				content: "";
				display: block;
				@include triangle(16px, $lightest-gray, up);
				position: absolute;
				top: -8px;
				left: 8px;
			}

			&:before {
				content: "";
				display: block;
				@include triangle(16px, $line-color, up);
				position: absolute;
				top: -9px;
				left: 8px;
				
			}

			p {
				color: $darker-gray;
			}
		}

		@include breakpoint(medium) {
			max-width: 75%;
		}

		@include breakpoint(large) {
			max-width: 60%;
		}

		&[data-message-status="read"] {
			.dialog-item-body {
				background-color: $lightest-gray;
			}
			.dialog-item-footer {
				.icon-read {
					opacity: 1;
				}
			}
		}

		&[data-message-status="new"] {

			.dialog-item-body {
				background-color: $highlight-color;
				&:after {
					@include triangle(16px, $highlight-color, up);
				}
			}
		}
	}

	.dialog-item-response {
		// margin-left: $gutter/2;
		@include breakpoint(medium) {
			// margin-left: $gutter*1.5;
		}
	}
}

.dialog-item-header {
	@include grid-row;

	.dialog-user {
		@include breakpoint(medium) {
			@include grid-column(6, 0);
		}
		.card {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.dialog-meta {
		@include breakpoint(medium) {
			@include grid-column(6, 0);
		}
		text-align: right;
		font-size: rem-calc(13);

		.dialog-meta-type {
			position: relative;
			bottom: -10px;
			font-weight: 500;
			color: $dark-gray;
		}

		.dialog-meta-date {
			position: relative;
			bottom: -10px;
			color: $secondary-color;
			font-weight: 700;
			margin-left: $gutter/4;
		}
		.dialog-meta-time {
			position: relative;
			bottom: -10px;
			color: $dark-gray;
			margin-left: $gutter/4;
		}
	}
}

.dialog-item-footer {
	position: relative;
	
	.icon-read {
		opacity: 0;
		position: absolute;
		width: 18px;
		height: 18px;
		bottom: $gutter*1.5;
		right: $gutter*.5;
		background-color: darken($light-gray, 2%);
		border-radius: 50%;
		color: $white;

		svg {
			width: 14px;
			height: 12px;
			position: absolute;
			top: 3px;
			left: 2px;
		}
	}
}

table.results tbody tr {

	&[data-message-opened="true"] {
		background-color: $white;
		border-bottom: none;
		.triangle::before {
			transform: rotate(180deg);
		}
	}

	.icon-archive {
		display: none;
	}

	&[data-message-status="archived"] {
		.status-messages {
			background-color: transparent;
			color: $medium-gray;

			.icon-read {
				display: none;
			}
			.icon-archive {
				display: block;
				
				svg {
					width: 18px;
				    height: 16px;
				    position: absolute;
				    top: 0px;
				    left: -1px;

					path {
						fill: transparent;
						stroke: currentColor;
						stroke-width: 1px;
					}
				}
			}
		}
	}

	&[data-role="message-conversation"] {
		&[data-message-opened="false"] {
			display: none;
		}
		&[data-message-opened="true"] {
			display: table-row;
			border-bottom: 1px solid $line-color;
		}
	}
}

.message-list-item {

	.card.card-client {
		@include breakpoint(small only) {
			margin-top: 30px;
		}
	}

	@include breakpoint(small only) {
		td.no-stack {
			width: 74%;

			+ td.no-stack {
				width: 10%;
				text-align: center;

				+ td.no-stack {
					width: 10%;
					text-align: right;
				}
			}
		}
	}
}

[data-action="expand-message"] {
	cursor: pointer;
}