.reveal {

	&.reveal-feedback {
		max-width: 460px;
	}

	.reveal-header {
		background-color: mix($secondary-color, $white, 8%);
	  	
	  	padding:  $panel-padding/1.4 $panel-padding/2 $panel-padding/1.4;
		
		@include breakpoint(medium) {
			padding: $panel-padding/1.4 $panel-padding*1.25 $panel-padding/1.4;
		}
	  	border-bottom: 1px solid rgba(#E4E4E4, 0.37);

	  	@include breakpoint(small only) {
	  	  
	  	}

		h2 {
			margin: 5px 0 0;
			padding: 0;
			line-height: 1.6;
			font-size: rem-calc(13px);
			font-weight: 700;
			text-transform: uppercase;

			i.icon {
			    display: block;
				margin-right: 10px;
				float: left;
				opacity: .7;
				position: relative;
				top: -3px;
			}
		}
	}

	.reveal-errors {
		background-color: mix($error-color, white, 100%);
		padding: $panel-padding $panel-padding*1.25 $panel-padding;
		border-bottom: 1px solid mix($error-color, black, 90%);
		color: $white;
		position: relative;
		
	  	p {
	  		margin:0;
	  		font-weight: 500;
	  		padding-right: 100px;
	  		font-size: rem-calc(14);
		}

	  	.icon {
	  		position: absolute;
			top: $panel-padding;
			right: $panel-padding*1.4;
		}

		a {
			color: $white;
			text-decoration: underline;
		}
	}

	.reveal-sub-header {
		background-color: whitesmoke;
	  	padding: $panel-padding/1.4 $panel-padding*1.25 $panel-padding/1.4;
	  	border-bottom: 1px solid rgba(#E4E4E4, 0.37);
	}

	.reveal-body {
		
		background-color: mix(whitesmoke, white, 50%);
		padding: $panel-padding/2;
		
		@include breakpoint(medium) {
			padding: $panel-padding*1.25 $panel-padding*1.25;
		}

		h3 {
			font-size: rem-calc(16px);
			// text-transform: uppercase;
			// border-bottom: 1px solid mix($secondary-color, $white, 30%);
			margin-top: $gutter;
			margin-bottom: $gutter;
			// letter-spacing: 0.025em;
			color:  mix($secondary-color, $white, 60%);
			font-weight: 700;
		}

		.reveal-body-wide {
			position:relative;
			height: 270px;
			margin-left: -$panel-padding/2;
			margin-right: -$panel-padding/2;

			@include breakpoint(medium) {
				margin-left: -$panel-padding*1.25;
				margin-right: -$panel-padding*1.25;
			}
		}

		.reveal-height-wide {
			margin-top: -$panel-padding/2;
			margin-bottom: -$panel-padding/2;

			@include breakpoint(medium) {
				margin-top: -$panel-padding*1.25;
				margin-bottom: -$panel-padding*1.25;
			}
		}

	}

	.reveal-footer {
		background-color: mix($secondary-color, $white, 4%);
	  	padding: $panel-padding $panel-padding*1.25 $panel-padding;
	  	border-top: 1px solid rgba(#E4E4E4, 0.37);

	  	.reveal-help {
	  		text-align: right;
			@include breakpoint (medium) {
				margin: 0;
				text-align: left;
			}
			font-size: rem-calc(13);
			line-height: 1.4;
			color: $secondary-color;
	  	}

		.button {
			margin-bottom: 0;
		}
	}

	.close-button {
		top: $panel-padding/1.5;
		right: $gutter/2;
		@include breakpoint(medium) {
			right: $gutter;
		}
		color: $secondary-color;

		&:hover {
			color: $primary-color;
		}
	}

	&.alternate {
		.reveal-header {
			background-color: mix($secondary-color, $white, 100%);
			border-bottom: 1px solid mix($secondary-color, $black, 70%);

			h2 {
				color: $white;
			}
		}

		.close-button {
			color: $white;
		}
	}
}

// TODO MOVE TO SINGLE FILE

.feedback {
	text-align: center;
	color: $secondary-color;
	border-radius: $global-radius;

	.icon {
		width: 64px;
		height: 64px;
	}

	p {
		font-size: rem-calc(18);
		font-weight: 700;
		margin-top: 1.5rem;
	}

	.button + .button {
		@include breakpoint(medium) {
			margin-left: $gutter/2;
		}
	}
	
	padding-top: 1rem;
	padding-bottom: 2rem;

	&.placeholder-actions {
		
		padding: 4rem $gutter;

		.placeholder-actions-content{
			max-width: 500px;
			margin: 0 auto;
			padding: 3rem $gutter;
			border: 1px solid $light-gray;
			border-radius: $global-radius;
			background-color: mix(whitesmoke, white, 70%);



			p {
			 	max-width: 350px;
				margin: 0 auto $gutter;
				line-height: 1.3;

			 + p {
				font-size: rem-calc(17);
				font-weight: 400;
				color: $dark-gray;
				max-width: 300px;
				margin: 0 auto $gutter auto;
				}
			}
		}
	}

	&.placeholder-search {
		padding-top: 0;
		.placeholder-search-content{
			// max-width: 500px;
			margin: 0 auto;
			padding: 3rem $gutter;
			border: 1px solid $light-gray;
			border-radius: $global-radius;
			background-color: mix(whitesmoke, white, 70%);



			p {
				font-size: rem-calc(22);
			 	max-width: 380px;
				margin: 0 auto $gutter;
				line-height: 1.3;

			 + p {
				font-size: rem-calc(17);
				font-weight: 400;
				color: $dark-gray;
				max-width: 400px;
				margin: 0 auto $gutter auto;
				}
			}
		}
	}
}




//MODAL ADJUNTAR DOCUMENTO

.drag-and-drop-file-upload-wrapper {
	.btn-cancel-uploads {
		display: none;
	}

	.uploading {
		.btn-cancel-uploads {
			display: none;
		}

		.btn-close {
			display: none;
		}
	}
}

.select-item {
	background-color: $white;
	border: 2px solid $secondary-color;
	border-radius: 2px;
	color: $secondary-color;
	padding: $gutter;
	position: relative;

	@include breakpoint(medium) {
		padding: $gutter*2 $gutter*2;
	}

	.retry {
		display: none;
	}

	p {
		padding-left: 40px;
		@include breakpoint(medium) {
			padding-left: 44px;
		}
		position: relative;
		max-width: 280px;
		
		line-height: 1.3;
		
		margin-bottom: 0;


		.icon {
			position: absolute;
			left: 0;
			top: 2px;
		}

		.file-name {
			display: block;
		}

	}

	.icon {
		
		display: inline-block;
		vertical-align: middle;

		&.icon-doc-ok {
			width: 32px;
			height: 32px;
		}

		&.icon-upload-file {
			width: 38px;
			height: 39px;
		}

		&.icon-doc-lopd {
			width: 32px;
			height: 32px;
		}
	}

	&.queued {
		opacity: 1;
		border: 2px solid mix($secondary-color, $white, 30);
	}

	&.upload,
	&.download{
		border: 2px solid $primary-color;

		p {
			font-weight: 700;
			padding-left: 40px;
			@include breakpoint(medium) {
				padding-left: 60px;
			}
			position: relative;
			max-width: 300px;
			line-height: 1.3;
			bottom: 0;
			margin-bottom: 0;

			&.decrease-size {
				@include breakpoint(small only) {
					max-width: 200px;
				}
			}

			.icon {
				position: absolute;
				left: 0;
				top: 0;
			}
		}

	}

	&.search {
		border: 2px solid $primary-color;
	}

	&.error {
		border: 2px solid $alert-color;

		button.close-button {
			display: none;

			&.retry {
				display: block;
			}
		}
	}

	&.upload-error {
		border-color: $alert-color;

		.icon-picture-error {
			top: 3px;
		}

		span {
			font-size: rem-calc(14);
			font-weight: 500;
		}

		span+span {
			color: $alert-color;
			font-size: rem-calc(13);
			display: block;
		}

		button.close-button {
			display: none;

			&.retry {
				display: block;

				.icon {
					top: -8px;
				}
			}
		}
	}

	&.active {
		border: 2px dashed $dark-gray;
		border-radius: 2px;
	}

	&.disabled {
		background-color: $lighter-gray;
	}

	.close-button {
		position: absolute;
		right: $gutter;
		top: $gutter*1.25;
		span {
			color: $secondary-color;

		}
	}

	&.picture-upload {
		padding: 0 $gutter $gutter/2 $gutter;

		@include breakpoint(medium) {
			padding: $gutter/2 $gutter*2 $gutter/2 $gutter;
		}

		.columns {
			padding-top: 40px;
		}

		.image-wrapper {
			padding-top: 0;
			background-color: $light-gray;

			@include breakpoint(small only) {
				margin-top: $gutter/2;
			}
		}

		.image-thumb {
			height: 0;
			padding-bottom: 130px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		p {
			padding: 0;
			font-size: rem-calc(14);
			font-weight: 500;
		}

		span {
			font-size: rem-calc(13);
		}

		.icon-close {
			top: 15px;
		}
	}

	&.filters-resume,
	&.lopd-ok  {
		border-color: $medium-gray;
	}
}

//MODAL NUEVA VISITA

.select-client {
	display: block;
	border: 2px solid $primary-color;
	border-radius: 2px;
	color: $primary-color;
	font-size: rem-calc(16);
	font-weight: 700;
	padding: $gutter/1.2 0;

	.icon {
		vertical-align: middle;
		width: 32px;
		height: 32px;
		margin-right: 15px;
	}

	span {
		vertical-align: middle;
	}
}

.select-asset {
	display: block;
	border: 1px solid $medium-gray;
	border-radius: 2px;
	color: $secondary-color;
	font-size: rem-calc(16);
	font-weight: 700;
	padding: $gutter/1.2 0;

	.icon {
		vertical-align: middle;
		width: 32px;
		height: 32px;
		margin-right: 15px;
	}

	span {
		vertical-align: middle;
	}
}

.reveal.alternate .search-filters-wrapper .close-button  {
    color: $dark-gray;
}