// better reusable structure…

.detail-modal {
	
	@include breakpoint(medium) {
		display: table;
	}
	width: 100%;
	margin: 0;
}

.detail-modal-title {
	color: $primary-color;
	padding: $gutter 0;
	margin-top: 0;
	margin-bottom: 0;
}

.detail-modal-title-alternative {
	color: $secondary-color;
}

.detail-modal-subtitle {
	color: $primary-color;
	padding: $gutter 0;
	margin-top: 0;
	margin-bottom: 0;
}

.detail-modal-row {
	
	@include breakpoint(medium) {
		display: table-row;
	}

	width: 100%;

	+ .detail-modal-row {
		
		.detail-modal-key {
			border-top: 1px solid $medium-gray;
		}

		@include  breakpoint(medium) {
			.detail-modal-key,
			.detail-modal-value {
				border-top: 1px solid $medium-gray;
			}
		}
	} 
}

.detail-modal-key {
	// padding-top: $gutter*1.5;
	// padding-bottom: $gutter/2;
	padding-top: $gutter;
	padding-bottom: $gutter/8;
	vertical-align: middle;
	font-weight: 700;
	color: $secondary-color;
	line-height: 1.2;

	@include breakpoint(medium) {
		display: table-cell;
		width: 40%;
		.is-help & {
			width: 30%;
		}
		// padding-bottom: $gutter*1.5;
		padding-top: $gutter*1.2; 
		padding-bottom: $gutter;
	}

	> .card-status {

		@include breakpoint(small only) {
			border-bottom: none;
		}
		@include breakpoint(medium) {
			// margin-left: 30px;
		}
	}
}

.detail-modal-value {
	// padding-top: $gutter/2;
	// padding-bottom: $gutter*1.5;
	padding-top: 0; 
	padding-bottom: $gutter;
	vertical-align: middle;

	@include breakpoint(medium) {
		display: table-cell;
		width: 60%;
		.is-help & {
			width: 70%;
		}
		// padding-top: $gutter*1.5;
		padding-top: $gutter*1.2;
		padding-bottom: $gutter; 
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}

		strong {
			font-weight: 700;
		}

		span {
			display: block;
		}
	}

	.card-status {
		padding-left: 0;
		> div {
			padding-left: 0;
			> span {
				padding-left: 44px;
				&:before {
					left: 10px;
				}
			}
		}
	}

	@include breakpoint(small only) {
		.card {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;

			&.card-status {
				padding-left: 0;
				> div {
					padding-left: 0;
				}
			}
		}
	}
}

// Dropdown light version

.dropdown-pane {
	&.dropdown-pane-alternative {
		background-color: mix($white, whitesmoke, 50%);
		border-color: $medium-gray;
		padding: $gutter $gutter $gutter/4; 
		box-shadow: 1px 2px 6px rgba($black, .13);

		&:before {
			@include triangle(20px, mix($white, whitesmoke, 50%) ,up);
			// border-bottom-color: mix($white, whitesmoke, 50%);
			right: $gutter/1.25;
		}
		&:after {
	    	content: "";
	    	@include triangle(20px, $medium-gray ,up);
	    	position: absolute;
	    	// bottom: 100%;
	    	right: $gutter/1.25;
	    	z-index: -1;
	    	top: -11px;
	    }

	    transition: transform 100ms 0ms ease-out;
		
		&.is-open {
	    	transform: translate(0,$gutter/5);
	    }

	    .dropdown-pane-list-title {
			@include clearfix;
			margin-bottom: $gutter/1.5;
	    }

		.dropdown-pane-list {
			background-color: mix($white, whitesmoke, 50%);
			padding-bottom: 0;
			padding-top: 0;
		}

		.dropdown-pane-list-item {
			border-color: $line-color;

			&:first-child {
				border-top-color: $line-color;
			}

			&:last-child {
				border-bottom: none;
			}

			.dropdown-pane-list-item-link {
				color: $secondary-color;
				border: none;
				padding: 14px 0 10px 46px;
				position: relative;

				&:hover {
					background-color: transparent;
					color: $primary-color;
				}
			}

			.dropdown-pane-list-item-img {
				position: absolute;
				left: 0;
				width: 30px;
				height: 30px;

				i.icon {
					position: absolute;
					left: 0;
					top: -3px;
					width: 30px;
					height: 30px;
					color: mix($secondary-color, $white, 60%);
				}
			}

			.dropdown-pane-list-item-txt {

				line-height: 1.2;
				
				.dropdown-pane-list-item-subtitle {
					font-weight: 400;
					color: $dark-gray;
					display: block;
					margin-top: 5px;
				}

			}
		}
	}
}

