.nested-panel {
	position: relative;
	.panel-header {
		text-transform: uppercase;
		font-size: rem-calc(13);
		font-weight: 700;
		color: $secondary-color;
	}

	.panel-body {

		label.button {
			margin-right: 10px;
		}
	}
}

.seo-panel,
.script-panel {
	margin-top: 50px;
}