.new-cosntruction-view {
	.new-cosntruction-pretitle {
		text-transform: uppercase;
		font-weight: 700;
		color: $secondary-color;
		font-size: rem-calc(16);
	}

	.new-construction-downloads {
		ul {
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;

				
				@include breakpoint(medium) {
					display: inline-block;
				}
			}
		}
	}

	.published-label {
		float: right;
	}

	.finish-date {
		color: $secondary-color;
		font-weight: 500;
	}
}

.progress-bar-container {
	padding: 40px 0;
	position: relative;

	&::before {
		content: "Inicio obras";
		position: absolute;
		bottom: 0;
		left: 0;
	}

	&::after {
		content: "Fin de la obra";
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.progress-bar {
		width: 100%;
		height: 10px;
		border-radius: 5px;
		background-color: $primary-color;
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 10px;
			border-radius: 5px;
			height: 30px;
			background-color: $secondary-color;
			position: absolute;
			top: -10px;
			left: 30%;
		}

		&::after {
			content: "30%";
			display: block;
			width: 50px;
			color: $secondary-color;
			text-align: center;
			position: absolute;
			top: -35px;
			left: 30%;
			margin-left: -20px;
			font-size: rem-calc(20);
			font-weight: 700;
		}
	}
}

.location-info {
	background-color: $light-gray;
	border: 1px solid $line-color;
	border-radius: $global-radius;
	overflow: hidden;

	.location-info-image {
		img {
			width: 100%;
		}
	}
	.location-info-data {

		@include breakpoint(small only) {
			padding: 20px 20px 0 20px !important;
		}

		@include breakpoint(medium) {
			padding: 10px 20px 0 10px !important;
		}

		@include breakpoint(xlarge) {
			padding: 20px 20px 0 20px !important;
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;

				p {
					display: inline-block;
				}
			}
		}
	}
}