////
/// @group overrides
////

textarea {
	height: 39px;
	min-height: 39px;
	border-radius: $global-radius;
	padding-top: 0.3em;
}

.label,
.custom-label {
	text-transform: uppercase;
	font-weight: 700;
}

.switch-input {
	position: absolute !important;
	&:before {
		content: none !important;
	}
}

.switch-active,
.switch-inactive {
	font-size: rem-calc(14);
	margin-top: 1px;
}

table {

	table-layout:fixed;
	width:100%;
	position: relative;

	tr {
		td {
			font-size: rem-calc(14px);
			font-weight: 400;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				color: $black;
			}
		}

		transition: background-color 180ms ease-out;
	}

	// Table head and foot
	thead,
	tfoot {

		// color: $table-head-font-color;
		// border: 1px solid $secondary-color;

		// Rows within head and foot
		tr {
		  // background: $secondary-color;

		  &:hover {
		  	// background: $secondary-color !important;
		  }

		  th {
		  	font-size: 11px;
		  	font-weight: 700;
		  	// color: mix($white, $secondary-color, 85%);
		  	text-transform: uppercase;
		  	padding-bottom: 8px;
		  }
		}
	}

	tbody {

	}
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

.button {
	font-weight: 500;

	> i[class^="fi-"],
	>  i[class*=" fi-"] {
		  margin-right: rem-calc(8px);
	}
}

.input-group-field {
	height: rem-calc(39px);
}

.input-group {
	&.large {
		.input-group-field,
		.input-group-button .button {
			height: rem-calc(44px);
		}
	}
}

.button {
	
	box-shadow: 0 -1px 0 0 rgba($black, .08) inset;
	border-bottom-color: rgba($black, .08);

	&.tiny {
		padding-top: 7px;
		padding-bottom: 5px;
		font-weight: 500;
		background-color: mix($medium-gray, $white, 36%);
		color: $primary-color;
		border-bottom-color: transparent;
		box-shadow: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&.hollow {
		box-shadow: none;
		border-bottom-color: inherit;
		background-color: transparent;

		&:hover {
			text-decoration: none;
		}
	}
}

.button-uppercase {
	text-transform: uppercase;
	font-size: rem-calc(11);
	font-weight: 700;
	letter-spacing: 0.055em;
	padding: 1.4em 2em 1em;
}

.top-bar {
	.is-dropdown-submenu {
		box-shadow: 1px 2px 2px transparentize($black, 0.8);

		li {
			position: relative;

			a {
				opacity: .8 ;
    			color: $white ;
    			transition: background-color .25s , opacity .25s ;


				&:hover {
					opacity: 1;
					background-color: mix($menu-color, $black, 70%) ;
				}

				&.current {
					background-color: $primary-color;
				}
			}

			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				height: 1px;
				background-color: mix($menu-color, $black, 92%);
			}
		}
	}
}

.datepicker {
	th {
		color: $secondary-color;
	}
}

.fa-chevron-right,
.fi-arrow-right {
	&:before {
		content: "" !important;
		display: block;
		@include triangle(16px, $primary-color, right)
	}
}
.fa-remove,
.fa-times,
.fi-x {
	&:before {
		content: "" !important;
	}
}
.fa-chevron-left,
.fi-arrow-left {
	&:before {
		content: "" !important;
		display: block;
		@include triangle(16px, $primary-color, left)
	}
}

#{text-inputs()},
textarea,
.select2-container {
	// margin-top: 4px !important;
	// margin-bottom: 12px !important;
	font-weight: 500;
	font-size: rem-calc(14);
	// line-height: 1.9;
	// height: 2.35rem;
}

.input-group {
	// margin-top: 4px !important;

	#{text-inputs()},
	textarea,
	.select2-container {
		// margin-top: 0 !important;
		// margin-bottom: 12px !important;
		font-weight: 500;
		font-size: rem-calc(14);
		padding: 0.8342em .5em 0.6342em;
	}
}

.is-invalid-input:not(:focus) {
	background-color: white;
}

.dropdown-pane {
    background-color: $secondary-color;
    // border-top-right-radius: 0;
    z-index: 10;
    
    transition: transform 100ms 0ms ease-out;

    &:before {
    	content: "";
    	@include triangle($gutter, $secondary-color ,up);
    	position: absolute;
    	bottom: 100%;
    	right: $gutter/2;
    }

    &.is-open {
    	transform: translate(0,$gutter/2);
    }
}

// @todo: ¿mover?

.dropdown-pane-list {
	margin: 0;
	padding: $gutter/4 0;
	
	.dropdown-pane-list-item {
		margin: 0;
		padding: 0;
		list-style-image: none;
		list-style-type: none;
		border-bottom: 1px solid mix($secondary-color, $black, 92%);
		
		a {
			display: block;
			padding: 12px $global-padding 10px $global-padding*4;
			color: $white;
			text-align: left;
			font-weight: 500;
			font-size: rem-calc(14);
			transition: background-color 180ms 0ms ease-out, color 180ms 0ms ease-out;
			

			&:hover,
			&:focus {
				background-color: $primary-color;
			}
			position: relative;

			i {
				position: absolute;
				left: 20px;
				top: 9px;
			}
		}

		&:first-child {
			border-top: 1px solid mix($secondary-color, $black, 92%);
		}
	}
}


.go-back {
	font-size: rem-calc(12);
	font-weight: 500;
	display: block;
	float: left;
    clear: both;

	@include breakpoint(small only) {
		margin-top: $gutter;
	}

	.icon-arrow-left {

		z-index: 0;
		width: 15px;
		height: 12px;
		margin-right: 5px;
		position: relative;
		bottom: 0px;
	}
}

.panel-body.no-padding table.no-border thead {
	background-color: transparent;
}

.close-button {
	&.close-button-alternative {
		color: $secondary-color;
	}
}

.reveal {
	.close-button {
		&.close-button-alternative {
			color: $secondary-color;
		}
	}
}

.accordion-title {
	&:before {
		content: "";
		@include triangle($gutter/2, $secondary-color ,down);
		margin-top: -0.2rem;
	}
}

.is-active > .accordion-title {
	&:before {
		content: "";
		transform: rotate(180deg);
	}
}

.tooltip {
	max-width: 20rem !important;
}

.datepicker-minutes table thead *,
.datepicker-hours table thead * {
    padding:0 !important;
    height:0 !important
}

.datepicker-minutes table thead tr th,
.datepicker-hours table thead tr th {
    visibility: hidden !important;
    height:0 !important;

}

.datepicker-minutes table tr td,
.datepicker-hours table tr td {
    	
	&:hover {
		background-color: transparent;
	}

	> span  {
		&:hover {
			background-color: $light-gray;
		}
	}
}

.select2.select2-placeholder:not(.select2-container--focus) {
	
	.select2-selection__rendered {
		color: $dark-gray;
	}
	
}

// Text rich-editor background-color

.trumbowyg-box .trumbowyg-editor {
	background-color: white;
}


// Code to insert the uploaded files name

.file-upload-container,
.image-upload-container {
	label.button {
		margin-right: 10px;
	}
}

.file-upload-name,
.image-upload-nameflie {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 12px;
	color: $darker-gray;
}