.pagination {
	li {
		font-weight: 500;

		a,
		span {
			border: 1px solid $line-color;
			color: $primary-color;

			&:hover,
			&:focus {
				color: $secondary-color;
			}
		}	

		&.current {
			padding: 0;

			a,
			span {
				color: $white;

				&:hover,
				&:focus {
					color: $white;
					background-color: $pagination-item-background-current;
				}
			}
		}

		&.disabled {
			padding: 0;

			a,
			span {
				color: $lighter-gray;
				border-color: $lighter-gray;
				pointer-events: none;
			}
		}
	}
}