////
/// @group panel
////

/// Default background color.
/// @type Color
$panel-background: $white !default;

/// Default fade value for panel backgrounds.
/// @type Number
$panel-background-fade: 85% !default;

/// Default border style for panels.
/// @type List
$panel-border: 1px solid rgba($black, 0.25) !default;

/// Default bottom margin for panels.
/// @type Number
$panel-margin: 0 0 1rem 0 !default;

/// Default inner padding for panels.
/// @type Number
$panel-padding: 1rem !default;

/// Default font color for panels.
/// @type Color
$panel-font-color: $body-font-color !default;

/// Default font color for panels, if the panel has a dark background.
/// @type Color
$panel-font-color-alt: $body-background !default;

/// Default border radius for panels.
/// @type Color
$panel-radius: $global-radius !default;

/// Amount to tint links used within colored panels. Set to `false` to disable this feature.
/// @type Number | Boolean
$panel-link-tint: 30% !default;

/// Adds basic styles for a panel, including padding and margin.
@mixin panel-base() {
  margin: $panel-margin;
  padding: 0;
  border: $panel-border;
  border-radius: $panel-radius;
  position: relative;
  color: $panel-font-color;
  // box-shadow: 2px 2px 1px rgba(black, .03);

  // Respect the padding, fool.
  > :first-child {
    // margin-top: 0;
    // padding-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

/// Generate quick styles for a panel using a single color as a baseline.
/// @param {Color} $color [$panel-background] - Color to use.
@mixin panel-style($color: $panel-background) {
  $background: scale-color($color, $lightness: $panel-background-fade);

  background-color: $background;
}

@mixin panel-size($padding) {
  padding-top: $padding;
  padding-right: $padding;
  padding-bottom: $padding;
  padding-left: $padding;
}


/// Adds styles for a panel.
/// @param {Color} $color [$panel-background] - Color to use.
@mixin panel($color: $panel-background) {
  @include panel-base;
  @include panel-style($color);
}

@mixin foundation-panel {
  .panel {
    @include panel;

    @each $name, $color in $foundation-palette {
      &.#{$name} {
        @include panel-style($color);
      }
    }

    &.small {
      @include panel-size(0.5rem);
    }

    &.large {
      @include panel-size(3rem);
    }

    &.half {
      &-left {
        @include breakpoint(medium) {
          margin-right: 0.5em;
        }
      }
      &-right {
        @include breakpoint(medium) {
          margin-left: 0.5em;
        }
      }
    }
  }
}

.panel-body {
  padding: $panel-padding;

  &.no-padding {
    padding: 0;
  }
}

.panel-body {
  h2 {
    display: block;
    @include clearfix;
    padding-top: map-get($grid-column-gutter, small)/2;
    margin-bottom: map-get($grid-column-gutter, small);
    padding-bottom: map-get($grid-column-gutter, small)/2;
    // border-bottom: 1px solid mix($line-color, $white, 60%);
    line-height: 1.25;
  }

  + .panel.panel-buttons-container {
    margin-top: -21px;
  }
}

.panel-header {
  background-color: whitesmoke;
  padding: $panel-padding/1.5 $panel-padding $panel-padding/1.6;
  border-bottom: 1px solid $line-color;
  h2 {
    margin: 5px 0 0;
    padding: 0;
    line-height: 1.6;
    font-size: rem-calc(13px);
    font-weight: 700;
    text-transform: uppercase;
  }
}

.panel-footer {
  background-color: whitesmoke;
  padding: $panel-padding/1.5 $panel-padding $panel-padding/1.6;
  border-top: 1px solid $line-color;
}

.panel-numbers {
  overflow: hidden;

  a {
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: background-color 180ms ease-out;
    }

    &:hover {
      &:before {
        background-color: $primary-color;
      }

      .panel-numbers-item,
        h2,
        .icon {
          color: $white;

        svg {
          path,
          polygon,
          circle,
          line,
          polyline,
          rect {
            stroke: mix($primary-color, $white, 40%);
          }
        }
      }
    }
  }

  .panel-numbers-item {
    display: block;
    font-size: rem-calc(48px);
    line-height: 1;
    font-weight: 500;
    color: $secondary-color;
    text-align: left;
    position: relative;
    z-index: 1;
    transition: color 180ms ease-out;
  }

  h2 {
    text-align: left;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 500;
    position: relative;
    z-index: 1;
    color: $primary-color;
    font-size: rem-calc(14px);
    transition: color 180ms ease-out;
  }

  .icon {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 28%;
    max-width: 50px;
    z-index: 0;
    overflow: visible;

    &.icon-visits {
      max-width: 54px;
      top: 16px;
      right: 20px;
    }

    &.icon-alert {
      max-width: 48px;
      top: 16px;
      right: 20px;
    }

    &.icon-favorite {
      max-width: 48px;
      top: 16px;
      right: 20px;
    }

    &.icon-offer {
      max-width: 60px;
      top: 14px;
      right: 20px;
    }

    svg {
      path,
      polygon,
      circle,
      line,
      polyline,
      rect {
        vector-effect: non-scaling-stroke;
        stroke: mix($secondary-color, $white, 30%);
        transition: color 180ms ease-out;
      }
    }
  }
}

.panel {
  box-shadow: 0 2px 1px 0 rgba(10, 10, 10, 0.025);

  &.panel-buttons-container {
    padding-top: 2rem;
    background-color: mix($success-color, $white, 8%);

    .button {
      margin-bottom: 10px;
      font-weight: 700;
    }

    .panel-buttons-container-notice {
      
    }
  }

  &.panel-body-single {
    padding: $gutter;
    border: none;
  }
}

.button-group {
  .button {
      border-radius: 0;

      &:first-of-type {
        border-top-left-radius: $global-radius;
        border-bottom-left-radius: $global-radius;
      }

      &:last-of-type {
        border-top-right-radius: $global-radius;
        border-bottom-right-radius: $global-radius;
      }
  }
}



//ACORDEÓN FOTOS INFORME MEDIADOR


.accordion-item {
	&.accordion-item-pictures,
  &.accordion-item-custom {
    >.accordion-title {
  		padding-top: $gutter;
  		padding-bottom: $gutter*.8;
  		position: relative;

  		h2 {
  			font-size: rem-calc(12);
  			text-transform: uppercase;

	        b {
	          font-weight: 400;
	          margin-left: $gutter;
	        }
  		}

  		.picture-counter {
  			display: inline-block;
  			font-size: rem-calc(13);
  			font-weight: 700;
  			color: $secondary-color;
  			border: 1px solid $line-color;
  			background-color: $white;
  			padding: $gutter/3 $gutter*.8 $gutter/4 $gutter*.8;
  			position: absolute;
  			top: $gutter*.6;
  			right: $gutter*2;
  		}
  	}

  	>.accordion-content {
  		position: relative;

  		p {
  			color: $secondary-color;
  	    	font-size: rem-calc(12);
  	    	font-weight: 400;
  		}
  	}
  }
}

.panel-photo,
.panel-upload {
	min-height: 256px;
	img {
		display: none;
	}
	
	.image-thumb {
		height: 0;
		padding-bottom: 160px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.panel-photo {
	border: 1px solid $line-color;
  cursor: move;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

	.dropdown-pane {
		width: 160px;
	}

	.panel-header {
		position: relative;

		h3 {
	    	font-size: rem-calc(12);
	    	font-weight: 500;
	    	padding-right: 10px;
	    	margin-bottom: 0;
		}

		.dots-only {
			position: absolute;
			top:0;
			right: 0;
		}
	}

	.panel-body {
		padding-top: $gutter/1.5;
		padding-bottom: $gutter/3;
    text-align: center;
	}

	.panel-footer {
		background-color: transparent;
		border: none;
		text-align: center;
		padding-top: 0;
		padding-bottom: $gutter/3;

		span {
			font-size: rem-calc(12);
			color: $medium-gray;
		}
	}
}

.panel-advertising {
  border: 1px solid $line-color;

  .dropdown-pane {
    width: 200px;
  }

  .panel-header {
    position: relative;

    .identifier {
      font-size: rem-calc(14);
      position: absolute;
      top: $gutter/1.8;
      left: $gutter;
      color: $medium-gray;
    }

    h3 {
        font-size: rem-calc(12);
        font-weight: 500;
        padding-right: 10px;
        margin-bottom: 0;
    }

    .dots-only {
      position: absolute;
      top:0;
      right: 0;
    }
  }

  .panel-body {
    padding-top: $gutter/1.5;
    padding-bottom: $gutter/3;
    text-align: center;
    
    .icon {
      height: 100%;
      width: 100%;
      max-width: 200px;
      max-height: 150px;
      min-height: 150px;
      
      &.icon-design {
        width: 100px;
      }
    }
  }

  .panel-footer {
    background-color: transparent;
    border: none;
    text-align: center;
    padding-top: 0;
    padding-bottom: $gutter/3;

    span {
      font-size: rem-calc(12);
      color: $medium-gray;
    }

    .completed {
      display: block;
      background-color: $secondary-color;
      height: 18px;
      width: 18px;
      border-radius: 9px;
      margin: 0 auto;

      .icon {
        color: $white;
        width: 12px;
        position: relative;
        top: 4px;
      }
    }
  }
}

.responsive-tabs-panel .panel .panel.panel-upload  {
	border: 2px dashed $line-color;

	p {
    	color: $dark-gray;
    	font-size: rem-calc(13);
    	white-space: normal;
    	font-weight: 400;
    	max-width: 110px;
    	margin: 0 auto;
    }
}

//css repetido pero no tan específico para poder visualizar estilo en la subida de fotos dentro de obras nuevas
.panel.panel-upload  {
  border: 2px dashed $line-color;

  p {
      color: $dark-gray;
      font-size: rem-calc(13);
      white-space: normal;
      font-weight: 400;
      max-width: 110px;
      margin: 0 auto;
    }
}

.responsive-tabs-panel .panel .panel.panel-photo {
  border: 1px solid $line-color;;
}

.panel-upload {
	background-color: transparent;
	color: mix($secondary-color, $white, 60%);
	padding: $gutter 0;
	text-align: center;

	a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: all .18s ease-out;
		&:hover {
			background-color: $lighter-gray;
		}
	}

    .icon {
    	margin-bottom: $gutter;
    	margin-top: $gutter*3;
    	color: mix($secondary-color, $white, 60%);
    }
}

.drag-attachment {
	display: none;
	.drag-enabled & {
		// display: block;
	}
    background-color: rgba(255,255,255,.9);
    position: absolute;
    top: $gutter/1.25;
    right: $gutter/1.25;
    bottom: $gutter/1.25;
    left: $gutter/1.25;
    border: 2px dashed $secondary-color;
    text-align: center;
    color: mix($secondary-color, $white, 60%);
    text-align: center;
    white-space: nowrap;


    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }


    > div {
		display: inline-block;
		vertical-align: middle;
		width: 100%;

		h3 {
			font-size: rem-calc(24);
			color: $secondary-color;
			margin-bottom: $gutter*2;
		}
    }

	&-full {
		display: none;
		
		body.drag-enabled & {
			display: block;
		}

		position: fixed;
		top: 0; left: 0; width: 100%; height: 100%;
	    z-index: 100;
	    background: rgba($secondary-color, 0.97);
	    padding: $gutter;

	    > div {
	    	border: 3px dashed $line-color;
	    	width: 100%;
	    	height: 100%;
	    	text-align: center;
	    	padding-top: $gutter*6;

	    	h1 {
	    		color: $white;
	    		font-size: rem-calc(26);
	    		max-width: 500px;
	    		margin: 0 auto $gutter*1.5 auto;
	    	}

	    	.icon {
	    		color: mix($secondary-color, $white, 60%);
	    	}

	    	.icon + .icon {
	    		margin-left: $gutter;
	    	}
	    }

	}
}