.custom-tabs {
    border-left: $panel-border;
    border-right: $panel-border;
    @include breakpoint(medium) {
        border-bottom: $panel-border;
    }
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;

    &.resposive-tabs {
    
        .custom-tabs-ul {
            display: table;
        }
    }

    .custom-tabs-ul {
        display: none;
    }

    .panel {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
        margin-bottom: 0;
    }

    > div {
        display: none;
    }
}

[data-conditional-content] {
  display: none;

  &.conditional-content-visible {
    display: block;
  }
}

.responsive-tabs-panel {
  .panel .panel {
    @include breakpoint(small only) {
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
    }

    border: 1px solid mix(whitesmoke, black, 90%);

    &.panel-body-single {
        border: none;
    }
  }
}

// FROM PLUGIN

.responsive-tabs {
    
    .responsive-tabs-nav {
        display: block;
        display: none;
        margin: 0;
        padding:0;

        i[class^="fi-"],
        i[class*=" fi-"] {
          display: none;
        }

        .section-completed {
            i[class^="fi-"],
            i[class*=" fi-"] {
              display: inline-block;
              color: $success-color;
            }
        }
    }

}

.responsive-tabs .responsive-tabs-accordion-title {
    display: block;
    border: $panel-border;
    border-top: none;
    border-right: none;
    border-left: none;
    position: relative;
    

    &:first-of-type() {
        border: $panel-border;
        border-right: none;
        border-left: none;
    }

    &:last-of-type() {
        border: $panel-border;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }

    &:after {
        content: "";
        border-color: $select-triangle-color transparent transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        height: 0;
        right: 20px;
        margin-left: -10px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 0;
    }

    &.responsive-tabs-state-default {
        position: relative;

        &:after {
            content: "";
            border-color: $select-triangle-color transparent transparent transparent;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            height: 0;
            right: 20px;
            margin-left: -10px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
        }
    }

    &.responsive-tabs-state-active {
        position: relative;
        border-bottom: none;

        &:after {
            content: "";
            border-color: transparent transparent $select-triangle-color transparent;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            height: 0;
            right: 20px;
            margin-left: -10px;
            margin-top: -2px;
            position: absolute;
            top: 50%;
            width: 0;
        }
    }
}

.responsive-tabs .responsive-tabs-panel {
    display: none;

    &.responsive-tabs-state-active {
        + .responsive-tabs-accordion-title {
            border: $panel-border;
            border-right: 0;
            border-left: 0;
        }
    }
}

.responsive-tabs-anchor {
    display: block;
    text-align: left;
    padding:10px;
    background-color: scale-color($panel-background, $lightness: $panel-background-fade);
    white-space: nowrap;
    text-overflow: ellipsis;

    i[class^="fi-"],
    i[class*=" fi-"] {
      display: none;
    }
}

.section-completed{
    .responsive-tabs-anchor {
        i[class^="fi-"],
        i[class*=" fi-"] {
          display: inline-block;
          color: $success-color;
        }
    }
}

@include breakpoint(medium) {
    .responsive-tabs .responsive-tabs-nav {
        display: table;
        width: 100%;
        border-top: $panel-border;
        border-bottom: $panel-border;
        // border-left: $panel-border;
        // border-right: $panel-border;
        // box-shadow: 2px 2px 1px rgba(black, .03);
        position: relative;
        bottom: 0px;
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;
    }

    .responsive-tabs .responsive-tabs-tab {
        display: table-cell;
        margin: 0;
        list-style: none;
        list-style-image: none;

        &:first-child() {
            .responsive-tabs-anchor {
                border-left: none;
            }
        }
        
        &.responsive-tabs-state-active {
            position: relative;

           
            
            .responsive-tabs-anchor {
                background-color: scale-color($panel-background, $lightness: $panel-background-fade);
                // border-left: $panel-border;
                // border-right: $panel-border;
                color: $secondary-color;
                font-weight: 700;

                
            }

            &:first-child() {
                .responsive-tabs-anchor {
                    border-left-color: transparent;
                    border-top-left-radius: $global-radius;
                }

                &:before {
                    // left: -1px;
                }
            }
            &:last-child() {
                .responsive-tabs-anchor {
                    border-right-color: transparent;
                    border-top-right-radius: $global-radius;
                }
                &:before {
                    // right: -1px;
                }
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                bottom: -2px;
                background-color: scale-color($panel-background, $lightness: $panel-background-fade);
                z-index: 1;
            }
            &:before {
                // content: "";
                // display: block;
                // position: absolute;
                // bottom: 100%;
                // right: 0;
                // left: 0;
                // top: -4px;
                // background-color: scale-color($panel-background, $lightness: $panel-background-fade);
                // z-index: 1;
                // border-top: $panel-border;
                // border-right: $panel-border;
                // border-left: $panel-border;

            }
        }
    }

    .responsive-tabs-anchor {
        display: block;
        text-align: center;
        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        color: $darker-gray;
        background-color: #f2f2f2;
        border-left: $panel-border;
        // border-right: $panel-border;
        border-bottom: none;
        border-top: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: rem-calc(12);
        transition: background-color 180ms ease-out, color 180ms ease-out;

        &:hover {
            color: $primary-color;
            background-color: scale-color($panel-background, $lightness: $panel-background-fade);
        }
    }

    .responsive-tabs .responsive-tabs-panel {
        display: none;
    }

    .responsive-tabs .responsive-tabs-accordion-title {
        display: none;
    }

    .responsive-tabs .responsive-tabs-panel.responsive-tabs-state-active {
        display: block;
    }
}

// override background-color on search .custom-tabs-alternate

.custom-tabs.custom-tabs-alternate.responsive-tabs li.responsive-tabs-tab.responsive-tabs-state-active  {
        
        &:after {
            background-color: $secondary-color;
        }

        a.responsive-tabs-anchor {
            background-color: $secondary-color;
            color: $white;
        }
}