


//LISTADOS EN ASSET-DETAILS

.floating-list {
	overflow: hidden;
	position: relative;
	margin-top: $gutter/4;
	margin-bottom: 0;

	@include breakpoint(small only) {

		dt {
			display: block;
			margin-bottom: 0;
			// &:after {
			// 	content: ":";
			// }
		}

		dd {
			display: block;
			font-weight: 700;
			padding-bottom: $gutter/3;
			margin-bottom: $gutter/2;
			border-bottom: 1px solid $line-color;
			color: $secondary-color;
		}

		&.cleaned {
			dd {
				border-bottom: none;
			}
		}
	}

	@include breakpoint(medium) {
		dt {
			float: left;
			clear: left;
			width: 50%;
			overflow: hidden;

			// &:after {
			// 	content: ":";
			// }

			border-top: 1px solid $line-color;
			padding-top: $gutter/1.5;
		}

		dd {
			float: right;
			width: 50%;
			overflow: hidden;

			font-weight: 700;
			color: $darker-gray;
			position: relative;
			border-top: 1px solid $line-color;
			padding-top: $gutter/1.5;
			color: $secondary-color;
		}

		&.for-numbers {
			margin-bottom: $gutter;

			h3 {
				display: inline-block;
				font-size: rem-calc(15);			
				}
			strong {
				font-size: rem-calc(16);
				float: right;
				color: $secondary-color;
				padding: $gutter/8 $gutter/4 0;
				border: 1px solid $line-color;
				border-radius: 2px;
				position: relative;
				top:-4px;
				
			}
			dt {
				width: 75%;
				// border-top: none;
			}

			dd {
				width: 25%;
				// border-top: none;
				text-align: right;
				padding-right: $gutter/4;
			}
		}
	}
}

.floating-list-header {
	color: $secondary-color;
	font-weight: 700;
}

.badge-number {
	display: inline-block;
	min-width: 70px;
	text-align: center;
	border: 1px solid $line-color;
	border-radius: 2;
	padding: $gutter/6 0 $gutter/18 0;
	position: relative;
	top: -6px;
}

.header-area,
.header-division {

	h3 {
		font-size: rem-calc(15);
	}

	p {
		font-size: rem-calc(15);
		font-weight: 500;
		color: $secondary-color;

		&.secondary {
			font-weight: 400;
		}
	}

	span {
		font-size: rem-calc(15);
		line-height: 1.1;
		display: inline-block;
	}

	.icon {
		color: $medium-gray;
		&.icon-location-areas {
			width: 52px;
			height: 52px;
		}
		&.icon-new-construction-group {
			width: 50px;
			height: 53px;
		}
	}
}

.map-container {
	position: relative;

	.button {
		position: absolute;
		top: $gutter/2;
		right: $gutter/2;
	}

	&.modal {
		padding-bottom: 53%;
	}

	&.detail {
		height: 0;
		padding-bottom: 100%;
		margin-bottom: $gutter;
	}

	&.interesting-area-detail {
		height: 0;
		padding-bottom: 50%;
		margin-bottom: $gutter;
	}
}

.data-and-thumb {
	padding-bottom: 0;
	margin-bottom: $gutter*2;
	
	@include breakpoint(small only) {
		background-color: $light-gray;
		padding-top: $gutter/2;
		padding-bottom: $gutter/2;
	}

	h4 {
		font-size: rem-cal(14);
		font-weight: 700;
		color: $secondary-color;
	}

	p {
		font-size: rem-cal(14);
		font-weight: 500;
		color: $secondary-color;
		@include breakpoint(small only) {
			margin-bottom: $gutter;
		}
	}

	.image-wrapper {
		background-color: $light-gray;

		@include breakpoint(small only) {
			margin-top: $gutter/2;
		}
	}

	.image-thumb {
		height: 0;
		padding-bottom: 154px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

//MENSAJES
			

.triangle {
	display: block;
	width: 12px;
	height: 12px;
	position: relative;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		@include triangle(12px, $secondary-color, down);
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		right: -10px;
		bottom: -10px;
		left: -10px;
		top: -10px;
	}
}


table.results {
	tbody {
		tr {
			.status-messages {
				background-color: $unread-color;
				text-align: center;
				width: 18px;
				height: 18px;
				border-radius: 10px;
				color: $white;

				span {
					display: none;
				}

				.icon {
					svg {
						width: 14px;
						height: 12px;
						position: absolute;
						top: 3px;
						left: 2px;
					}
				}
			}

			&[data-message-status="new"] {
				background-color: $highlight-color;

				&:hover {
					background-color: mix($highlight-color, $white, 60%);
				}

				.status-messages {
					background-color: $primary-color;

					.icon {
						display: none;
					}

					span {
						display: inline-block;
						color: $white;
						font-size: rem-calc(11);
						font-weight: 700;
					}
				}

				.message-read {
					display: none;
				}
			}

			&.open-message {
				.triangle {
					@include triangle(12px, $secondary-color, up);
				}
			}
		}
	}
}


.active-client-step {
	margin-bottom: $gutter;

	.step-number {
		display: inline-block;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		background-color: $secondary-color;
		text-align: center;
		margin-right: $gutter/2;

		@include breakpoint (medium) {
			margin-right: $gutter;
		}
		
		span {
			color: $white;
			font-size: rem-calc(14);
			font-weight: 500;
			position: relative;
			top: 1px;
			vertical-align: middle;
		}
	}

	.icon {

		vertical-align: middle;
		color: mix($secondary-color, $white, 60);
		width: 56px;
		height: 56px;
	}

	p {
		font-size: rem-calc(16);
		font-weight: 700;
		color: $secondary-color;
		margin-top: 0;
		@include breakpoint(medium) {
			margin-top: $gutter;
		}
		margin-bottom: $gutter/2;

		+ p {
			font-size: rem-calc(15);
			font-weight: 500;
			color: $dark-gray;
			line-height: 1.3;
			margin-top: 0;
			max-width: 150px
		}

	}
}

.decrease-size {
	@include breakpoint (small only) {
		font-size: rem-calc(13);
	}
}


.required-data {
	color: $medium-gray;
}

tr {
	&.disabled {
		background-color: rgba($lighter-gray, .8) !important;
	}
}

.disabled {
	pointer-events: none;    
	user-select: none;

	> * {
		opacity: .4;
	}

	* {
		color: $dark-gray !important;
		
		.dots-button {
			background-color: $dark-gray !important;
			&:before,
			&:after {
				background-color: $dark-gray !important;
			}
		}

		.card.card-status > div > span:before {
			background-color: $dark-gray !important;
		}
		
	}
}

.header-with-icon {

	.icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: $gutter;
		color: $medium-gray;
		
		&.icon-commercial-management,
		&.icon-territorial-management,
		&.icon-area-management,
		&.icon-office-management {
			width: 90px;
			height: 90px;
		}
	}

	h1 {
		display: inline-block;
		vertical-align: middle;
	}
}

.sub-header-text {
	display: block;
	font-size: rem-calc(18);
	font-weight: 400;
}

.management-indicator {
	background-color: $light-gray;
	padding: $gutter*3.5 0;
	text-align: center;
	color: $secondary-color;

	.icon {
		width: 102px;
		height: 102px;
	}

	h3 {
		font-size: rem-calc(22);
		font-weight: 700;
		margin-bottom: 10px;
	}

	p {
		font-size: rem-calc(16);
		margin-bottom: 0;
	}
}
