.select-asset-preview {
	@include grid-row;
	position: relative;
	border: 2px solid $secondary-color;
	border-radius: 2px;
}
.select-asset-preview-image {
	width: 40%;
	float: left;
}
.select-asset-preview-text {
	width: 60%;
	float: left;
	padding-left: $gutter/2;

	@include breakpoint(medium) {
		min-height: 79px;
	}

	h1 {
		font-size: rem-calc(14);
		font-weight: 500;
		margin-bottom: 0;

		@include breakpoint(medium) {
			font-size: rem-calc(16);
			margin-bottom: 5px;
		}
	}

	strong {
		font-size: rem-calc(20);
		color: $secondary-color;
	}
}
.select-asset-preview-options {
	float: left;
	display: inline-block;
	width: 60%;
	padding-left: $gutter/2;

	@include breakpoint(small only) {
		display: block;
		width: 100%;
		padding-left: 0;
	}

	span.select2 {
		margin-bottom: 0;
	}
}

.select-asset-preview-content {
	@include grid-column(10, 0);
	padding: $gutter/2;

	@include breakpoint(medium) {
		@include grid-column(8, 0);
	}
}

.select-asset-preview-actions {
	@include grid-column(2, 0);
	
	@include breakpoint(medium) {
		@include grid-column(4, 0);
		padding: 50px 40px 40px 0;
	}

	.button {
	}

	.close-button span {
		color: $secondary-color;
		position: relative;
		top: 50px;
	}
}