// CUSTOM

{{#hasMixin}}@mixin {{mixinName}} {
	background-image: url('assets/img/svg/sprite/{{#sprite}}{{#png}}{{{sprite}}}{{/png}}{{/sprite}}');
	background-image: url("assets/img/svg/sprite/{{{sprite}}}"), none;
	background-repeat: no-repeat;
}

{{#hasCommon}}.{{commonName}} {
	@include {{mixinName}};
}

{{/hasCommon}}{{/hasMixin}}{{^hasMixin}}{{#hasCommon}}.{{/hasCommon}}{{^hasCommon}}%{{/hasCommon}}{{commonName}} {
	background-image: url("assets/img/svg/sprite/{{#sprite}}{{#png}}{{{sprite}}}{{/png}}{{/sprite}}");
	background-image: url("assets/img/svg/sprite/{{{sprite}}}"), none;
	background-repeat: no-repeat;
}

{{/hasMixin}}{{#shapes}}{{#selector.shape}}{{expression}}{{^last}},
{{/last}}{{/selector.shape}} {
	{{^hasCommon}}{{#hasMixin}}@include {{mixinName}};{{/hasMixin}}{{^hasMixin}}@extend %{{commonName}};{{/hasMixin}}
	{{/hasCommon}}background-position: {{position.relative.xy}};{{#dimensions.inline}}
	width: {{width.outer}}px;
	height: {{height.outer}}px;{{/dimensions.inline}}
}{{#dimensions.extra}}

{{#selector.dimensions}}{{expression}}{{^last}},
{{/last}}{{/selector.dimensions}} {
	width: {{width.outer}}px;
	height: {{height.outer}}px;
}{{/dimensions.extra}}

{{/shapes}}