//VARIABLES DE COLOR POR ESTADOS

$status-color-1: #44CC00;
$status-color-2: #FF597A;
$status-color-3: #2BD0D6;
$status-color-4: #AD66CC;
$status-color-5: #9B9B9B;
$status-color-6: #3D66CC;
$status-color-7: #EA9E16;
$status-color-8: black;
$status-color-9: #B9AF51;
$status-color-10: #043D59;
$status-color-11: #5D9121;
$status-color-12: #8B572A;
$status-color-13: #953555;
$status-color-14: #CA865B;
$status-color-15: #E9562B;
$status-color-16: #E82929;
$status-color-17: #C33535;
$status-color-18: #723434;


//ESTADO COMERCIAL DE LOS ACTIVOS

$commercial-status: (
	not-merchantable: $status-color-2,
	available-for-sale: $status-color-1,
	available-with-offer: $status-color-4,
	available-with-reservation: $status-color-4,
	sold: $status-color-2,
	transfer: $status-color-2,
	available-for-rent: $status-color-3,
	available-for-sale-and-rent: $status-color-6,
	available-conditioned: $status-color-10
);

@each $status, $color in $commercial-status {
	&.status-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}



//ESTADO DE LAS PETICIONES

$work-status: (
	applied: $status-color-3,
	accepted: $status-color-3,
	in-process: $status-color-3,
	not-paid: $status-color-4,
	paid: $status-color-3,
	finish-not-validated: $status-color-4,
	not-energy-label: $status-color-4,
	impossible-to-obtain: $status-color-2,
	failed: $status-color-2,
	canceled: $status-color-2,
	rejected: $status-color-2,
	finish: $status-color-1
);

@each $status, $color in $work-status {
	&.status-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}

//ESTADO DE MIS NOTIFICACIONES

$notification-status: (
	answered: $status-color-3,
	sended: $status-color-1
);

@each $status, $color in $notification-status {
	&.status-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}

//ESTADO DE LAS VISITAS

$visit-status: (
	registered: $status-color-3,
	client-contact: $status-color-3,
	concerted: $status-color-3,
	done: $status-color-1,
	not-done: $status-color-2
);

@each $status, $color in $visit-status {
	&.status-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}

//ESTADO DE LAS OFERTAS

$offer-status: (
	canceled: $status-color-2,
	approved: $status-color-1,
	denied: $status-color-2,
	counteroffer: $status-color-4,
	frozen: $status-color-7,
	pending: $status-color-3
);

@each $status, $color in $offer-status {
	&.status-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}

$offer-status-expedients: (
	in-process:  $status-color-7,
	canceled:  $status-color-2,
	signed: $status-color-1,
	counter-offered: $status-color-5,
	admin-block: $status-color-5,
	booked: $status-color-5,
	placed: $status-color-5,
	sold: $status-color-5,
	resolved: $status-color-5,
	sanction-pending: $status-color-5,
	aproved: $status-color-5,
	denied: $status-color-5,
	double-signature-pending: $status-color-5,
	offer-reply: $status-color-5,
	rented: $status-color-5,

);

@each $status, $color in $offer-status-expedients {
	&.status-expedient-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}


//ESTADO DE ACTVOS

$asset-status:(
	available: $status-color-3,
	without-possession: $status-color-6,
	rented: $status-color-7,
	occupied: $status-color-2,
	not-inscribed: $status-color-4,
	proindiviso: $status-color-9,
	new-construction-not-declarated: $status-color-10,
	new-construction-not-finished: $status-color-11,
	horizontal-division-unregistered: $status-color-12,
	ruin: $status-color-8,
	other-status: $status-color-5,
	blocked: $status-color-13,
	precommercialization: $status-color-14,
	on-revision: $status-color-15,
	judicial-procedure: $status-color-16,
	with-loads: $status-color-17,
	without-title: $status-color-18,
);

@each $status, $color in $asset-status {
	&.status-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}

//ESTADO DE LOS INFORMES

$report-status: (
	accepted:  $status-color-1,
	missing-data:  $status-color-2,
	send: $status-color-3,
);

@each $status, $color in $report-status {
	&.status-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}


//CMS: ESTADO DE LAS CANDIDATURAS DE EMPLEO

$job-application-status: (
	job-answered:  $status-color-3,
	job-in-process:  $status-color-1,
	job-rejected: $status-color-13,
	job-pending: $status-color-5
);

@each $status, $color in $job-application-status {
	&.status-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}

//CMS: ESTADO DE LA TRADUCCIÓN

$translation-status: (
	translation-published:  $status-color-1,
	translation-draft: $status-color-13,
);

@each $status, $color in $translation-status {
	&.status-#{$status} {
   		> div {
			span {
				&:before {
					background-color: #{$color};
				}
			}
		}
  	}
}

// Estado de publicación

$published-status:(
	published: $primary-color,
	hidden: $secondary-color,
	not-published: $dark-gray,
);

.published-label {
	background-color: $primary-color;
	color: $white;
	font-size: rem-calc(12);
	font-weight: 700;
	padding: $gutter/4 $gutter/2 $gutter/10;
	border-radius: 2px;

	@include breakpoint(small only) {
		font-size: rem-calc(13);
		display: inline-block;
		margin: $gutter 0;
	}
	

	@include breakpoint(medium) {
		float: right;
		position: relative;
		top: -23px;
	}

	@each $status, $color in $published-status {
		&.status-#{$status} {
	   		background-color: #{$color};
	  	}
	}
}

.assets-view-status {
	.asset-status {
		font-size: rem-calc(14);
		font-weight: 700;
		// border: 1px solid $white;
		box-shadow: 0 0 6px rgba($black, .5);
	}
}