.text-normalcase {
  text-transform: none;
}

.picture-beautified {
  .display-picture-container {
    position: relative;
  }
  .btn {
    &.change-picture {
      top: 5px;
      position: absolute;
      right: -70px;
    }
    &.remove-picture {
      position: absolute;
      top: 40px;
      right: -70px;
    }
  }
}

.note-editor {
  .btn-sm {
    min-height: 30px;
  }
  .btn-xs {
    min-height: 30px;
  }
  .note-editable {
    height: 253px !important;
  }
}

div.input.file {
  border: none;
}

.input.form-group {
  &.radio, &.checkbox {
    padding-left: 0px;
    margin-top: 0;
  }
}

.modal-backdrop.in {
  display: none;
}

.reorder-placeholder {
  height: 50px;
  background: #CCCCFF;
}

.sortable-table {
  .ui-sortable-helper {
    td {
      background: white;
    }
  }
}

fieldset {
  margin-bottom: 15px !important;

  legend {
    margin-bottom: 10px;
  }
}

form[data-lang] {
  [data-lang] {
    display: none;
  }
}