@mixin menu-navigation-selected-subpage($class, $otherclass) {
  &.#{$class} {
    .main-nav a.#{$otherclass}, .top-bar .submenu a.#{$otherclass} {
      background-color: #0A93D5;
      opacity: 1;
    }
  }
}

@mixin menu-navigation-selected($class) {
  &.#{$class} {
    .main-nav a.#{$class}, .top-bar .submenu a.#{$class} {
      background-color: #0A93D5;
      opacity: 1;
    }
  }
}

body {
  @include menu-navigation-selected(my-notifications);
  @include menu-navigation-selected(asset-detail);
  @include menu-navigation-selected(assets-portfolio-list);
  @include menu-navigation-selected(assets-portfolio-new-construction-list);
  @include menu-navigation-selected(assets-portfolio-report);
  @include menu-navigation-selected(assets-portfolio-request-list);
  @include menu-navigation-selected(assets-portfolio);
  @include menu-navigation-selected(assets-search);
  @include menu-navigation-selected(client-detail);
  @include menu-navigation-selected(clients);
  @include menu-navigation-selected(offers);
  @include menu-navigation-selected(index);
  @include menu-navigation-selected(interesting-areas);
  @include menu-navigation-selected(mediator-advertising);
  @include menu-navigation-selected(mediator-consultations);
  @include menu-navigation-selected(mediator-data);
  @include menu-navigation-selected(mediator-diary);
  @include menu-navigation-selected(mediator-messages);
  @include menu-navigation-selected(mediator-notifications);
  @include menu-navigation-selected(new-construction-detail);
  @include menu-navigation-selected(sales);
  @include menu-navigation-selected(visits);
  @include menu-navigation-selected-subpage(client-detail, clients);
  @include menu-navigation-selected(cms-dashboard);
  @include menu-navigation-selected(cms-assets);
  @include menu-navigation-selected(cms-pages);
  @include menu-navigation-selected(cms-offers-and-groups);
  @include menu-navigation-selected(cms-events-and-promotions);
  @include menu-navigation-selected(cms-new-construction);
  @include menu-navigation-selected(cms-places-information);
  @include menu-navigation-selected(cms-glossary);
  @include menu-navigation-selected(cms-work-with-us);
  @include menu-navigation-selected(cms-links);
  @include menu-navigation-selected(assets-portfolio-reports);

  &[data-view="map-results"] {
    .is-pagination {
      display: none;
    }
  }
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  &.asset-index-item {
    float: left;
  }
}

.child-fields-row.panel.nested-panel {
  margin-bottom: 10px;

  .btn-remove-child-fields-row {
    margin-bottom: 0;
  }
}

#pictureEditModal .form-error {
  margin-top: .3rem;
}

@media screen and (min-width: 75em) {
  .main-nav {
    width: 205px;
  }
  main {
    padding-left: 205px;
  }
}