body.my-notifications .main-nav a.my-notifications, body.my-notifications .top-bar .submenu a.my-notifications {
  background-color: #0A93D5;
  opacity: 1; }
body.asset-detail .main-nav a.asset-detail, body.asset-detail .top-bar .submenu a.asset-detail {
  background-color: #0A93D5;
  opacity: 1; }
body.assets-portfolio-list .main-nav a.assets-portfolio-list, body.assets-portfolio-list .top-bar .submenu a.assets-portfolio-list {
  background-color: #0A93D5;
  opacity: 1; }
body.assets-portfolio-new-construction-list .main-nav a.assets-portfolio-new-construction-list, body.assets-portfolio-new-construction-list .top-bar .submenu a.assets-portfolio-new-construction-list {
  background-color: #0A93D5;
  opacity: 1; }
body.assets-portfolio-report .main-nav a.assets-portfolio-report, body.assets-portfolio-report .top-bar .submenu a.assets-portfolio-report {
  background-color: #0A93D5;
  opacity: 1; }
body.assets-portfolio-request-list .main-nav a.assets-portfolio-request-list, body.assets-portfolio-request-list .top-bar .submenu a.assets-portfolio-request-list {
  background-color: #0A93D5;
  opacity: 1; }
body.assets-portfolio .main-nav a.assets-portfolio, body.assets-portfolio .top-bar .submenu a.assets-portfolio {
  background-color: #0A93D5;
  opacity: 1; }
body.assets-search .main-nav a.assets-search, body.assets-search .top-bar .submenu a.assets-search {
  background-color: #0A93D5;
  opacity: 1; }
body.client-detail .main-nav a.client-detail, body.client-detail .top-bar .submenu a.client-detail {
  background-color: #0A93D5;
  opacity: 1; }
body.clients .main-nav a.clients, body.clients .top-bar .submenu a.clients {
  background-color: #0A93D5;
  opacity: 1; }
body.offers .main-nav a.offers, body.offers .top-bar .submenu a.offers {
  background-color: #0A93D5;
  opacity: 1; }
body.index .main-nav a.index, body.index .top-bar .submenu a.index {
  background-color: #0A93D5;
  opacity: 1; }
body.interesting-areas .main-nav a.interesting-areas, body.interesting-areas .top-bar .submenu a.interesting-areas {
  background-color: #0A93D5;
  opacity: 1; }
body.mediator-advertising .main-nav a.mediator-advertising, body.mediator-advertising .top-bar .submenu a.mediator-advertising {
  background-color: #0A93D5;
  opacity: 1; }
body.mediator-consultations .main-nav a.mediator-consultations, body.mediator-consultations .top-bar .submenu a.mediator-consultations {
  background-color: #0A93D5;
  opacity: 1; }
body.mediator-data .main-nav a.mediator-data, body.mediator-data .top-bar .submenu a.mediator-data {
  background-color: #0A93D5;
  opacity: 1; }
body.mediator-diary .main-nav a.mediator-diary, body.mediator-diary .top-bar .submenu a.mediator-diary {
  background-color: #0A93D5;
  opacity: 1; }
body.mediator-messages .main-nav a.mediator-messages, body.mediator-messages .top-bar .submenu a.mediator-messages {
  background-color: #0A93D5;
  opacity: 1; }
body.mediator-notifications .main-nav a.mediator-notifications, body.mediator-notifications .top-bar .submenu a.mediator-notifications {
  background-color: #0A93D5;
  opacity: 1; }
body.new-construction-detail .main-nav a.new-construction-detail, body.new-construction-detail .top-bar .submenu a.new-construction-detail {
  background-color: #0A93D5;
  opacity: 1; }
body.sales .main-nav a.sales, body.sales .top-bar .submenu a.sales {
  background-color: #0A93D5;
  opacity: 1; }
body.visits .main-nav a.visits, body.visits .top-bar .submenu a.visits {
  background-color: #0A93D5;
  opacity: 1; }
body.client-detail .main-nav a.clients, body.client-detail .top-bar .submenu a.clients {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-dashboard .main-nav a.cms-dashboard, body.cms-dashboard .top-bar .submenu a.cms-dashboard {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-assets .main-nav a.cms-assets, body.cms-assets .top-bar .submenu a.cms-assets {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-pages .main-nav a.cms-pages, body.cms-pages .top-bar .submenu a.cms-pages {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-offers-and-groups .main-nav a.cms-offers-and-groups, body.cms-offers-and-groups .top-bar .submenu a.cms-offers-and-groups {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-events-and-promotions .main-nav a.cms-events-and-promotions, body.cms-events-and-promotions .top-bar .submenu a.cms-events-and-promotions {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-new-construction .main-nav a.cms-new-construction, body.cms-new-construction .top-bar .submenu a.cms-new-construction {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-places-information .main-nav a.cms-places-information, body.cms-places-information .top-bar .submenu a.cms-places-information {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-glossary .main-nav a.cms-glossary, body.cms-glossary .top-bar .submenu a.cms-glossary {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-work-with-us .main-nav a.cms-work-with-us, body.cms-work-with-us .top-bar .submenu a.cms-work-with-us {
  background-color: #0A93D5;
  opacity: 1; }
body.cms-links .main-nav a.cms-links, body.cms-links .top-bar .submenu a.cms-links {
  background-color: #0A93D5;
  opacity: 1; }
body.assets-portfolio-reports .main-nav a.assets-portfolio-reports, body.assets-portfolio-reports .top-bar .submenu a.assets-portfolio-reports {
  background-color: #0A93D5;
  opacity: 1; }
body[data-view="map-results"] .is-pagination {
  display: none; }

.column:last-child:not(:first-child).asset-index-item, .columns:last-child:not(:first-child).asset-index-item {
  float: left; }

.child-fields-row.panel.nested-panel {
  margin-bottom: 10px; }
  .child-fields-row.panel.nested-panel .btn-remove-child-fields-row {
    margin-bottom: 0; }

#pictureEditModal .form-error {
  margin-top: .3rem; }

@media screen and (min-width: 75em) {
  .main-nav {
    width: 205px; }

  main {
    padding-left: 205px; } }

/*# sourceMappingURL=gesty-crm.css.map */
