.loading-content {
  display: none !important; }

.is-visible {
  display: block !important; }

.haya-modal .haya-ajax-form-error {
  margin-bottom: 20px; }
.haya-modal .is-visible {
  display: block !important; }

.haya-icon-video {
  display: none !important; }

.show-aditional-info .aditional-info {
  display: none; }

.show-aditional-info:hover .aditional-info {
  display: block !important; }

/*# sourceMappingURL=gesty-public.css.map */
