.picture-container {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid #ccc;
  text-align: center;
  margin: 5px; }
  .picture-container > .image {
    background: #eee; }

.popup-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  z-index: 2; }
  .popup-header #category-filter {
    position: absolute;
    top: 5px;
    right: 15px;
    margin: 0; }
    .popup-header #category-filter label {
      display: inline;
      line-height: 30px; }
    .popup-header #category-filter select {
      margin-bottom: 0;
      width: 200px;
      display: inline-block;
      margin-left: 10px; }
  .popup-header form {
    margin: 0; }
  .popup-header .form-group {
    margin: 0; }

.popup-content {
  padding: 20px;
  padding-top: 65px; }
  .popup-content .picture-container {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100px;
    height: 100px;
    margin: 15px;
    position: relative;
    outline: 1px solid #999;
    text-align: left; }
    .popup-content .picture-container > .dimensions {
      position: absolute;
      bottom: 2px;
      right: 2px;
      font-size: 10px;
      height: 13px;
      width: auto;
      background: white;
      padding-left: 2px;
      padding-right: 2px;
      line-height: 13px;
      border: 1px solid #ccc;
      background: #eee; }
    .popup-content .picture-container > .delete {
      position: absolute;
      top: 2px;
      right: 2px; }
    .popup-content .picture-container > .edit {
      position: absolute;
      top: 2px;
      right: 34px;
      height: 30px;
      display: block; }

/*# sourceMappingURL=popup.css.map */
